@CHARSET "UTF-8";

#footer {
	position: relative;
	z-index: 1000;
	margin-top: 50px;
	text-align: center;
	width: 100%;
	height: 80px;
	bottom: 0;
	clear: both;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 0.8em;
	font-weight: lighter;
	background-color: black;
	padding:2%;
}

#footer>span {
	text-align: center;
	color: white;
}