@CHARSET "UTF-8";

#footer{position: relative; z-index: 1000; padding: 40px 0; text-align: center; width: 100%; clear:both; font-family: 'Noto Sans KR', sans-serif; font-size:0.8em; font-weight:lighter;}
#footer>a{padding-left:15px;}