@CHARSET "UTF-8";

html { scroll-behavior: smooth; }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-size: 1em; line-weight: 1.4; }

a { text-decoration: none; color: #000000; }

.container { width: 1080px !important; margin-left: auto; margin-right: auto; }

.header-container { border-bottom: 1px solid #dadada ;}

/* 최상단 메뉴 */
.toplink-container div { display: block; }
.toplink-container { display: flex; align-items: center; padding: 0.7rem; position: relative; z-index: 99; background-color: #f3f3f3 !important; font-family: 'Nanum Gothic', sans-serif; }
.insta-label { float: left; margin-right: 10px; text-transform:none; font-size:13px; }
/* .insta-label span { font-weight: bold; } */
.acc-container { float: right; font-size:13px; }
.insta-label a, .acc-container a { color:#444; }
.toplink-container i { padding-right:2px; }

.toplink-container a:hover { color: #808080; }

.acc_list { padding-right: 12px; }

/* 로고 row */
.logo-row { padding: 20px 0 25px; position: relative; text-align: center; }
.navbar_logo { z-index: 1; font-size: 60px; font-family: 'Racing Sans One', cursive; }
.navbar_logo a { letter-spacing: -2px; }

/* 메인 메뉴 */
.block-list { text-align: center; }
.block-content { display: inline-block; }
.nav { list-style: none; }
.nav > li { display: inline-block; vertical-align: middle; zoom: 1; float: none; text-align: left; position:inherit; padding: 0 10px 15px 10px; margin-right:10px;}
.nav > li:last-child { margin-right: 0px !important; }
.nav li a { padding: 10px 0 5px; marign: 0; font-size: 18px; text-transform: none; position: relative; font-family: 'Nanum Gothic', sans-serif; white-space:nowrap; }
.nav a:hover { color: #c0c0c0; }

/* 모바일버전 최상단 메뉴바 */
.mob-logo-row { display:none; padding:1% 2% 2% 2%; width: 100%; background-color:white; }
.mob-logo { z-index:1; font-family: 'Racing Sans One', cursive; font-size:40px; }
.mob-logo a { letter-spacing: -2px; }
.mob-logo, .mob-container { display:inline-block; }
.mob-container { font-size:30px; float:right; padding-top:0.5%; }
.mob-container div { padding-left:10px; }
.mob-acc { display:inline-block; }
.mob-nav, .mob-nav-exitBtn { display:none; }

/* 모바일 흰색 메뉴판 */
.mob-menuBoard { display:none; overflow:hidden; right:-100%; width:100%; background-color:white; position:fixed; height:100%; z-index:100; padding:4%; font-size:16x; font-family:'Nanum Gothic', sans-serif; z-index:400; }
.mob-menuBoard a { width:100%; margin-bottom:10px; display:block; padding:12px 0; }


/* 좌측 하단 광고 */
.googleAd-leftbottomBox { position:fixed; bottom:0; left:0; background-color:#eaeaea; z-index:50; width:300px; height:250px; } /*  */	






















/* 여기부터 구버전 */
/* 여기부터 구버전 */
/* 여기부터 구버전 */
/* 여기부터 구버전 */
/* 여기부터 구버전 */
/* 여기부터 구버전 */

/* 오늘 날짜 헤더 */
/* #datebar_div { width: 100%; background-color: black; } */

/* .sticky { position: fixed; top: 0; width: 100%; z-index: 10; } */

/* .datebar { display: flex; max-width: 100%; padding: 0 5px; } */

/* .today_date { width: 100%; text-align: center; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; color: white; margin: 5px 0; } */

/* 헤더 전체 적용 */
/* .acc_navbar { display: block; align-items:center; border-bottom: 1px solid #d6d6d6; font-family: 'Nanum Gothic', sans-serif; } */

/* .login-wrapper { display:inline-block; font-size: 12px; float: right; padding-right: 4px; } */


/* ----------------------------------- */
/* #memberChart { display:none; position: absolute; z-index: 10; width: 500px; background-color: white; padding: 10px 12px 15px 12px; right: 15%; font-family: 'Nanum Gothic', sans-serif; top: 3.5%; border-radius: 0.3rem; border: 1px solid rgb(222 222 222); box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); } */
/* #mc_title { font-size: 18px; color: #171717; margin: 1.5% 1% 3% 1%; text-align: center; font-weight: bold; } */
/* #mc_exit { font-size: 1.1em; position: absolute; display: inline-block; right: 0; padding: 0.7% 5% 0 0; } */
/* #current_rank { font-weight: bold; font-size: 21.5px !important; } */

/* #memberRank-wrapper { width: 100%; display: inline-block; } */
/* #memberRank-wrapper div { float:left; padding: 1.5%; margin: 1%; width: 31.3%; text-align: center; } */
/* #memberRank-wrapper div div { display: block; width: 100%; } */

/* #rank_label { font-size: 18px; font-weight: bold; color: #005752; margin-bottom: 4% !important; } */
/* #stars { font-size: 12px; color: #005752; padding: 2% 1.5% 10% 1.5% !important; border-bottom: 1px solid #cacaca; } */
/* #rank-wrapper { border-radius: 0.3rem; border: 1px solid rgb(222 222 222); box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); } */
/* #rank_content { height: 100px; color: #4a4a4a; margin: 5% 0 !important; } */
/* #rank_content p { cursor: pointer; } */
/* #rank_content p:hover { color: #7f7f7f; } */
/* #rank_content p { margin: 2% 0 10% 0; font-size: 0.95em; padding: 1.5%; font-weight: bold; } */

/* ----------------------------------- */
/* .navbar { */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	align-items: center; */
/* 	max-width: 80%; */
/* 	margin: 5px auto; */
/* 	padding: 0 5px; */
/* } */

/* 로고 */


/* 메뉴 */
.navbar_menu {
	display:flex;
	list-style: none;
	padding-left: 0;
	font-size: 17px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold; 
	padding-right: 6%;
}

span#cal_icon, span#all_icon, span#user_icon, span#logout_icon {
	display: none;
	padding-right: 12px;
}

.navbar_menu li {
	padding: 8px 25px;
	float: left; 
}



/* /* 로그인, 마이페이지, 로그아웃 링크 */ */
.navbar_userlinks {
	display: flex;
	list-style: none;
	font-size: 1.1em;
	font-family: 'Nanum Gothic', sans-serif;
}

.navbar_userlinks li {
/* 	border: 1px solid #c0c0c0; */
	padding: 4px;
	margin: 0 7px;
}

.mypage_btn {
	position: relative;
	display: inline-block;
}

.mypage_btn_mobile {
	display: none;
}

.mypage_btn_mobile {
	display: none;
}

.dropdown_mymenu {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.dropdown_mymenu a {
	border: 1px solid #c0c0c0;
	padding: 4px;
	margin: 0 7px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: white;
}

.mypage_btn:hover .dropdown_mymenu {
	display: block;
}



/* top link */ 
#myBtn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 1001;
  font-size: 2.4em;
  border: none;
  outline: none;
  background-color: #cccccc;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
  width: 52px;
  height: 52px;
}

#myBtn:hover {
  background-color: #555;
}

#myDrawBtn:hover { color: #7f7f7f; }





/* 모바일 -------------------------------------------------------------- */
/*  ----------------------------------------------------------------- */

/* 1680px 밑으로 적용 */
@media screen and (max-width: 1680px) {
	/* 좌측 하단 광고 300x250 없애기 */
	.googleAd-leftbottomBox { display:none !important; }
}

/* 0 ~ 1220px */
@media screen and (max-width: 1220px) {
	/* 모든 페이지 */
	.container { padding:0 2%; margin:0 !important; width:100% !important; }
	.header-container { border-bottom:0; }
	.menu-row { border-bottom:1px solid #dadada; }

	/* pc버전 row 없애기 */
	.toplink-container, .navbar_logo { display:none; }
	
	/* 모바일 메뉴바 on */
	.mob-logo-row { display:block; }
	
	/* 메뉴바 */
	.block-list { text-align:left; white-space:nowrap; overflow-x:auto; }
	.nav > li { padding:0 5px 15px 5px; margin-right:25px; }
}

/* 0 ~ 468px */
@media screen and (max-width: 468px) {

	.menu-row { display:none; }
	
	body { padding-top:45px; }
	.mob-logo-row { position:fixed; top:0; z-index:30; padding:1% 3% 3% 3%; }
	.mob-logo { font-size:35px; }
	.mob-container { font-size:25px; }
	.mob-nav { display:inline-block; }
	.mob-container { padding:2%; }
	.mob-container div { padding-left:20px; }
	
/* 	.mob-menuBoard { display:block; } */
	
	
}



















