@CHARSET "UTF-8";

* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-size: 1em; line-weight: 1.4; }

/* 모든 페이지 공통 부분 */
.container {position: relative; width: 1200px; margin: 5px auto;}

a { text-decoration: none; color: #000000; }

/* 헤더 전체 적용 */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 5px auto;
	padding: 0 5px;
}

/* 로고 */
.navbar_logo {
	z-index: 1;
	font-size: 50px;
	font-family: 'Anton', sans-serif;
}

/* 메뉴 */
.navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}

.navbar_menu li {
	padding: 8px 12px;
}
.navbar_menu li a:hover{
	color:#ffb400;
}

/* 로그인, 마이페이지, 로그아웃 링크 */
.navbar_userlinks {
	display: flex;
	list-style: none;
	font-size: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar_userlinks li{
	border: 1px solid #c0c0c0;
	padding: 4px;
	margin: 0 7px;
}


/* Hamburger Icon */
.navbar_toggleBtn {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
}


/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.navbar {
		width: 100%;
		padding: 0 40px;
	}	
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	/* 헤더 전체 적용 */
	.navbar {
		border-bottom: 1px solid #c0c0c0;
		padding: 0 20px;
		flex-direction: column;
		align-items: flex-start;
	}
	
	/* 메인 메뉴 */
	.navbar_menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	
	.navbar_menu li {
		width: 100%;
		text-align: center;
	}
	
	.navbar_menu li:hover {
		background-color: #808080;
		border-radius: 4px;
	}
	
	.navbar_userlinks {
		display: none;
		justify-content: center;
		padding: 10px 12px;
		margin: 0 auto;
	}
	
	.navbar_userlinks li {
		margin: 10px;
		float: left;
	}
	
	/* toggle button */
	.navbar_toggleBtn {
		display: block;
		margin-top: 20px;
	}

}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	/* 헤더 전체 적용 */
	.navbar {
		border-bottom: 1px solid #c0c0c0;
		padding: 0 20px;
		flex-direction: column;
		align-items: flex-start;
	}
	
	/* 메인 메뉴 */
	.navbar_menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	
	.navbar_menu li {
		width: 100%;
		text-align: center;
	}
	
	.navbar_menu li:hover {
		background-color: #808080;
		border-radius: 4px;
	}
	
	.navbar_userlinks {
		display: none;
		justify-content: center;
		padding: 10px 12px;
		margin: 0 auto;
	}
	
	.navbar_userlinks li {
		margin: 10px;
		float: left;
	}
	
	/* toggle button */
	.navbar_toggleBtn {
		display: block;
		margin-top: 20px;
	}

}















