@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

#wrapper {position: relative;}

#main-nav {padding-top: 20px; text-transform: uppercase; text-align: right; padding-right: 20px; float: left; width: 12.5%; font-family: 'Noto Sans KR', sans-serif;}
#main-nav .menu-link {font-size: 0.9em; display:block;}
#content{margin-top: 20px; width: 75%; float: left; position: relative; z-index: 2;}

/* 로그인 페이지 */
#content_login {font-family: 'Noto Sans KR', sans-serif; text-align:center; width: 100%; margin:200px 0;}

/* 관리자 페이지 */
#content_adminMain { width: 100%; margin-top: 30px; position: relative; z-index: 2; text-align:center;}
#content_adminMain table { margin: 0 auto;}

/* 신발 추가 페이지 */
#content_adminAddSneaker { width: 100%; margin-top: 30px; position: relative; z-index: 2; text-align: center;}
#content_adminAddSneaker table{ margin-left:auto; margin-right:auto;}

/* 신발 리스트 페이지 */
.popup_date{background:#000000; opacity:0;}
.shoelist_image:hover .popup_date {opacity:0.6; text-align:center; color: #fff; background-color:#000;}

/* 신발 상세정보 페이지 */
#content_sneakerDetail, #content_sneakerList {margin-top: 20px; width: 75%; float: left; position: relative; z-index: 2;}
#content_sneakerDetail table#sneaker_Detail{margin-left:120px; margin-right:auto;}
#content_sneakerList table#sneaker_List{margin-left: 80px; margin-right: auto;}
#content_sneakerDetail table#sneakerOnlineInfo_table{width:1050px;}
#content_sneakerDetail table#sneakerOfflineInfo_table{width:1050px;}

.detail_table div{ margin-top:20px; margin-left:20px;}
.sneaker_image {text-align: center;}
.sneaker_image2 {text-align: center;}
.sneaker_image>img{ width:500px; height: 320px;}
.sneaker_image2>img{ width:100px; height: 100px;}
.sneaker_name {font-style:oblique; text-transform: uppercase; font-size:35px; font-family: 'Anton', sans-serif;}

#content_sneakerOnlineInfo {margin-top: 40px; width: 100%; float: left; position: relative; z-index: 2; font-family: 'Noto Sans KR:400', sans-serif; font-size:0.9em;}
#content_sneakerOnlineInfo table{ width:928px; text-align:center;}

#brandlogo_img {border: 1px solid #ECEBEB;}
#country_flag_img {border: 1px solid #D9D9D9;}







