@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container {position: relative; width: 1200px; margin: 5px auto; }

/* 신발 추가 페이지 */
#content_adminAddSneaker { width: 100%; margin-top: 30px; position: relative; z-index: 2; text-align: center;}
#content_adminAddSneaker table{ margin-left:auto; margin-right:auto;}

/* 발매완료 숨기기 버튼 */
#showAllChk { width: 30%; text-align: center; padding: 35px 5px 0 5px; font-family: 'Nanum Gothic', sans-serif; display: flex; margin: 0 auto; }
#showAllChk span { cursor: pointer; }
#before { width: 50%; font-size: 0.95em; font-weight: bold; border-top-left-radius: 3px; border-bottom-left-radius: 3px; padding: .75rem 1.5rem; display: inline-block; text-align: center; letter-spacing: .3rem; background-color: #bfbfbf; color: #000; }
#after { width: 50%; font-size: 0.95em; font-weight: bold; border-top-right-radius: 3px; border-bottom-right-radius: 3px; padding: .75rem 1.5rem; display: inline-block; text-align: center; letter-spacing: .3rem; background-color: #f2f2f2; color: #000; }

/* 신발 리스트 페이지 ------------------------------------------------------------------------------------------------------------ */
#content_sneakerList { margin-top: 0; width: 100%; height: 800px; z-index: 2; padding-bottom: 2.5rem; }
.month { width: 100%;  text-align: right; border-bottom: 1px solid #e6e6e6; font-family: 'Noto Sans KR', sans-serif; font-size: 20px; font-weight: bold; padding:5px;}
.month span { font-size: 21px; margin: 0 5px; }
.div_month { position: relative; width: 100%; float: left; margin-bottom: 20px; }

.no_info { text-align: center; margin: 3% 1%; }

/* 리스트 한칸 */
.shoelist_content { z-index:8; position:relative; float: left; text-align: center; width: 18%; margin: 1%; border-radius: 0.3rem; box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); font-family: 'Nanum Gothic', sans-serif; border: 1px solid rgb(222 222 222); transition: all 0.3s; }
.shoelist_content img { width:180px; height:130px; width: 95%; height: 95%; transform:scale(1.0); transition: transform.5s; }
.shoelist_content:hover .content_img img{ transform:scale(1.05); transition: transform.5s; }

/* 발매일 */
.release_date { font-size: 1em; font-weight: bold; background-color: #2d2d2d; padding: .5rem 1rem; color: white; border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem; }

/* 메인 내용 */
.content_wrapper, .content_wrapper_draw { padding: 1%; }
.content_wrapper div, .content_wrapper_draw div { display: block; }

	/* 이미지 */
	.content_img { margin-top: 3%; position: relative; }
	
	/* 디데이라벨 */
	#dd-label-wrapper { position: absolute; top: 3%; right: 5%; width: 30%; text-align: right; margin-top: 1%; }
	#dd-label { font-size: 15px; font-weight: bold; color: #da5858; border: 1px solid rgb(226 226 226); padding: 5% 7%; border-radius: 3px; }
	
	/* 이름 */
	.content_name { margin-top: 1%; }
	.content_name .model_name { font-size: 12px; height: 27px; padding: 0 1%; }
	
	/* 최신 dot */
	#recent-dot { position: absolute; top: 13%; left: 64.5%; color: #00c300; font-size: 0.75em; }
/* 	#recent-dot i{  background-color: white; border-radisus: 50%; } */
	
	/* 링크 */
/* 	#link-wrapper { position:relative; padding: 2%; font-weight: bold; margin: 8% auto; transition: all 0.3s; font-size: 0.8em; border: 1px solid #949494; border-radius: 13px; width: 40px; color: #2d2d2d; } */
/* 	#link-wrapper:hover { color: white; background-color: orange; } */
	
	#link-wrapper {
	    position: relative;
	    padding: 3% 0;
	    font-weight: bold;
	    margin: 8% 0 0 0;
	    transition: all 0.3s;
	    font-size: 0.9em;
	    width: 100%;
	    color: #2d2d2d;
	    border-top: 1px solid #dedede;
	}
	#link-wrapper:hover { color: #939393; }
	
	/* 발매완료 div */
	.opac_background {
		position:absolute;
		width: 100%;
		height: 100%;
/* 		display: table; */
		font-size: 1.4em;
		font-weight: bold;
		background-color: white;
		z-index: 9;
		opacity: 0.6;
	}
	.rel_finish {
		position:absolute;
		width: 100%;
		height: 100%;
		display: table;
		font-size: 1.4em;
		font-weight: bold;
		z-index: 10;
		opacity: 0.5;
	}
	.rel_finish_label {
		padding-top: 50%;
    	z-index: 11;
	}
	

/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.container { 
		width: 95%;
	}
	.shoelist_content {
		width: 23%;
	}
	#recent-dot {
		left: 65%;
	}
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	.shoelist_content {
		width: 31.3%;
	}
	#dd-label {
		font-size: 0.9em;
	}
	#showAllChk {
		text-align: center;
	}
	#showAllChk {
    	width: 60%;
	}
}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	.shoelist_content {
		width: 46%;
   		margin: 2.5% 2%;
	}
	.release_date{
		font-size: 0.9em;
	}
	.content_links{
		margin-top:12%;
	}
	#link-wrapper {
		font-size: 0.75em;
	}
	.no_info {
		margin:8% 1%;
	}
	#recent-dot i {
		font-size: 1em;
	}
	#dd-label {
		font-size: 0.8em;
		padding: 2% 7%;
	}
	#dd-label-wrapper {
		width: 50%;
	}
	.rel_finish {
		font-size: 1.2em;
	}
	.rel_finish_label {
		padding-top: 60%;
	}
	#recent-dot {
    	left: 68%;
	}
	#showAllChk {
		padding: 22px 0 17px 0;
	}
	#showAllChk {
    	width: 80%;
	}
	#showAllChk span{
		font-size:0.8em;
		letter-spacing: .125rem;
	}
	.content_wrapper_draw {
		height: 155px;
	}
}






