@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container {position: relative;} /* width: 80%; margin: 5px auto; */
 
/* 리스트 별 컨테이너 */
.todaysRelease-container, .releasing-container, .release-container, .hisWeek-container, .snkrsWeek-container, .myDrawList-container , .popular-container { display: table; width: 100%; box-sizing: border-box; padding:70px 0; font-family: 'Nanum Gothic', sans-serif; }
.released-container { display: table; width: 100%; box-sizing: border-box; margin:40px 0 0 0; font-family: 'Nanum Gothic', sans-serif; }

.todays-table-container, .releasing-table-container, .snkrsWeek-table-container, .myDraw-table-container, .popular-table-container { width: 100%;}

/*서브 타이틀*/
.sub-title { display: block; padding:0 0 15px 0; font-size:32px; font-family: 'Nanum Gothic', sans-serif; }
.sub-title h4 { display: inline-block; flex-direction: row; }
.sub-title h4 span { padding-right: 10px; }
/* .sub-title-wline h4:after { content: ""; flex: 1 1; border-bottom: 1.7px solid #000000; margin: auto; } */
.desc-container { display: block; padding:0 0 25px 0; color:#666; }
.desc-container span { display:inline-block; position:relative; }

/* 전체보기 버튼 */
.allReleasingButton { display:none; float:right; border:1px solid #191919; padding: 4px 8px; background-color:#191919; color: white; font-size: 12px !important; margin-top: 5px; cursor: pointer; }
.allButton { display:inline-block; float:right; border:1px solid #191919; padding: 4px 8px; background-color:#191919; color: white; font-size: 12px !important; margin-top: 5px; cursor: pointer; }

/* 더보기 버튼 */
.moreBtn-container { display:flex; width:100%; text-align:center; }
.moreBtn { padding:10px 15px; color:white; border-radius:5px; font-size:18px; margin:30px auto 50px auto; background-color:#4990e2; box-shadow:0 0.1rem 0.1rem rgb(0 0 0 / 10%), 0 0.1rem 0.3rem rgb(0 0 0 / 10%); cursor:pointer; }

/* 인기 제품 리스트 */
.popular-table-container { display:block; }
.popular-product { width:14.66%; margin:1%; float:left; border-radius:10px; box-shadow:0px 1px 8px 1px #44444433; }
.popular-product:hover { background-color:#f3f3f3; }
	.popular-rank, .popular-imgBox { display:block; }
	.popular-rank { padding:10px 0 0 10px; }
	.popular-rank span { font-size:14px; }
	.popular-imgBox img { width:90%; height:90%; display:block; margin:0 auto; padding:10% 0 5% 0; }

/* 발매 중 리스트 (메인페이지) */
.mainSneaker-container { float:left; width:23%; margin:0 1% 3% 1%; font-family:'Nanum Gothic', sans-serif; cursor:pointer; }
	/* 이미지 파트 */
	.mainSneaker-image { display:block; }
	.mainSneaker-image img { width:100%; height:100%; background-color:#f3f3f3; padding:25% 5% 8% 5%; border-radius:8px; }
	
	/* 모델 이름 + 발매처 횟수 */
	.mainSneakerShoeInfo-container { width:100%; padding:4% 2% 7% 2%; }
		.mainSneakerShoeInfo-name { display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient:vertical; font-size:16px; min-height:38px; cursor:pointer; }
		.mainSneaker-brandCount2 { display:none; }
		.mainSneaker-brandCount, .mainSneaker-brandCount2 { font-size:15px; color:black; margin-top:15px; }
		.mainSneaker-brandCountTxt { color:white; border:1px solid #58af58; background-color:#58af58; padding:3px 6px; border-radius:3px; }

/* 오늘의 발매 리스트 ------------------------------------------------------------------------------ */
.todaysRow { display:flex; width:100%; position:relative; padding:20px 15px; text-align:center; align-items:center; }
.todaysRow:not(:last-child) { border-bottom:1px solid #cccccc; }
.brandPart { display:flex; width:66.3%; align-items:center; }
.todaysBrandPart { display:inline-block; width:49%; }
.todaysBrandPart2 { display:inline-block; width:49%}
.todaysShoePart { display:inline-block; width:33.3%; }

.todaysBrandImg { display:-webkit-inline-box; position:relative; }
.brandImg { width:140px; height:140px; border:1px solid #b3b3b3; position:relative; border-radius:6px; }
.countryflag { border:1px solid #d4d4d4; width:42px; height:27px; }

.todaysBrandName { padding:10px 0; }
.todays-brandName { font-weight:bold; font-size:25px; color:#1f1f1f; }

.todaysInfo { margin-top:10px; }
.todaysInfo span { color:#949494; }

.todaysReleaseTime { margin-top:10px; }
.todaysReleaseTime span { color:#949494; }

.todaysStatus { margin-top:10px; }
.release-status { padding:3.5px 10px; color:white; font-weight:bold; border-radius:4px; }

/* 남은시간 */
.todaysRemainTime { margin-top:15px; }
.remainTime-container { font-size: 15px; }
.remain-time { font-size:20px; padding:0 0 0 4px; font-weight: bold; font-family: 'Kelly Slab', cursive; }
.remainWarning-container { display: block; position: relative; color: black !important; margin-top:5px; }
.remainWarning-container span { display:none; font-weight: bold; font-size: 12px; position: absolute; width:100%; }

.mob_count_label { display:none; }

.todayslinks { margin-top:15px; }
.card_link { width:38%; margin-rigth:1%; transition:0.3s; }
.card_checkBox { width:38%; margin-left:1%; }
.card_link { border:1px solid #23272b; background-color:#23272b; color:white; }
.card_checkBox { border:1px solid #d0d0d0; background-color:white; }
.card_link, .card_checkBox { display:inline-block; vertical-align:middle; text-align:center; padding:0.4rem 1rem; cursor:pointer; }

.releaseModel-image img { width:75%; background-color:#f3f3f3; padding:100px 10px 70px 10px; }
	

/* 이번주 snkrs 리스트 (메인페이지) ----------------------------------------------------------------------------- */
.snkrsWeek-container { display:block !important; }
.snkrsWeek-table-container { overflow-x:scroll; padding:20px 0 40px 0; white-space:nowrap;  }
.snkrsSneaker-container { display:inline-block; width:30%; margin-right:20px; }
.snkrsSneaker-container img, .snkrsSneaker-container div { width:100%; }
.snkrsSneaker-container img { padding:70px 10px 20px 10px; background-color:#f3f3f3; border:1px solid #e1e1e1; }
.snkrsSneaker-container div { text-align:center; display:block; position:relative; }
div.snkrs_date { font-size:26px; margin:8px 0; font-weight:bold; }
div.snkrs_time a { font-size:15px; color:#777 !important; }
.dDay-status { position:absolute !important; text-align:right !important; padding:25px 18px; font-family:'Noto Sans KR', sans-serif; }
.dDay-status span { color:white; border-radius:5px; font-size:20px; font-weight:bold; padding:0 8px; }

/* 스크롤바 style */
/* width */
::-webkit-scrollbar { width:10px; height:15px; }
/* Track */
::-webkit-scrollbar-track { background: #d6d6d6; }
/* Handle */
::-webkit-scrollbar-thumb { background: #797979; }


/* 나의 응모내역 리스트 ------------------------------------------------------------------------------ */ 

.myDraw-container { float:left; width:31.33%; margin:0 1% 4% 1%; text-align:left; font-family:'Nanum Gothic', sans-serif; vertical-align:top; position:relative; border:1px solid rgb(222 222 222); cursor:pointer; box-shadow:0px 2px 5px #44444433; }
.myDraw-image, .myDrawShoeInfo-container { display:block; }
/* 이미지 파트 */	
.myDraw-image { width:100%; position:relative; }
.myDraw-image img { width:100%; height:100%; background-color:#f3f3f3; padding:25% 8% 5% 8%; border-bottom:1px solid rgb(222 222 222); }
	 
/* 모델 이름 + 응모횟수 파트 */
.myDrawShoeInfo-container { width:100%; padding:5% 4%; }
	.myDrawShoeInfo-name { display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient:vertical; font-size:17px; min-height:40px; line-height:1.2em; cursor:pointer; margin-bottom:10px; }
	.myDrawShoeInfo-countNum { font-size:18px; color:#777; }

/* 나의 응모내역 디테일 신발상세 + 응모내역 리스트 */
/* 신발 상세정보 페이지  ------------------------------------------------------------------------------------------------------------ */
.shoeinfo-container { display:table; padding:30px 0; font-family:'Nanum Gothic', sans-serif !important; width:100%; }

.shoeImg-container, .shoeDetailInfo-container { display:inline-block; vertical-align:top; }
.shoeImg-container { width:30%; }
.shoeDetailInfo-container { width:65%; margin-left:10px; }
.shoeDetailInfo-directlinks span { cursor:pointer; font-size:17px; border:1px solid black; padding:6px 14px; border-radius:4px; }

/* 이미지 파트 */
.shoeImg-container { text-align:center; }
.shoeImg-container img { background-color:#f3f3f3; padding:4% 8% 0 8%; width:90%; }

	/* phone 일때 국내 , 해외 카테고리 선택 박스 */
	.phone-regionCate-container { padding:10px 4%; text-align:center; font-family:'Nanum Gothic', sans-serif; display:none; }
	.regionCate-div { text-align:center; font-size:14px; margin:3% 0; display:inline-block; color:#777777; border:1px solid #e8e8e8; border-radius:20px; }
	.regionCate-div span { margin:8px 20px; display:block; }
	
	

/* 신발 내용 파트 */

	/* 제품 모델명 */
	.shoeDetailInfo-name { padding-bottom:15px; }
	.shoeFullName_eng, .shoeFullName_kr { display:block; }
	.shoeFullName_eng { font-size:30px; margin:10px 0 15px 0; font-weight:bold; display:-webkit-box; text-overflow:ellipsis; overflow:hidden; -webkit-line-clamp:1; -webkit-box-orient:vertical; }
	.shoeFullName_kr { font-size:17px; color:#777; }
	
	/* 제품 정보 */
	.shoeDetailInfo { padding-top:20px; }
	.shoeDetailInfo-subtitle { margin-bottom:20px;}
	.shoeDetailInfo-subtitle p { font-size:18px; font-weight:bold; }
	.shoeDetailInfo-content { margin-bottom:15px; }
/* 	.shoeinfo-cate { display:inline-block; width:30%; color:#777777; } color:#999; */
	.shoeinfo-cateAns { display:inline-block; width:100%; text-align:left;}
	.dividePipe { font-size:14px; padding:0 10px;  }
	.shoeDetailInfo-modelColorWay { display:inline-block; width:140px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:bottom; }
	
		/* phone 추가 제품 정보 */
		.phone-drawDetail { display:none; }
	
	/* 응모 브랜드 리스트 */
	.brandList-container { width:100%; background-color:white; padding:30px 0 70px 0; font-family:'Nanum Gothic', sans-serif; }
	
	.brandList-table table { width:100%; border-collapse:collapse; text-align:center; }
	.brandList-table table th { border-top:1px solid #222; padding:20px 10px; color:#222; background-color:#f9f9f9; font-size:16px; font-weight:normal; border-bottom:1px solid #c1c1c1; }
	.brandList-table table td { padding:20px 10px; border-top:1px solid #ddd; border-bottom:1px solid #c1c1c1; font-size:15px; color:#666; }
	.brandList-table table td img { width:60px; height:60px; border:1px solid #c0c0c0; border-radius:5px; }
	.brandLogoName { text-align:left !important; }
	.myDraw-logo, .myDraw-brandName { display:inline-block; vertical-align:top; }
	.myDraw-brandName { width:80%; padding-left:12px; color:#121212; }
	.myDraw-brandNameTxt { font-weight:bold; display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient:vertical; font-size:15px; min-height:31px; line-height:1.2em; }

	


/* 신발 추가 페이지 ------------------------------------------------------------------------------------------------------------ */
#content_adminAddSneaker { width: 100%; margin-top: 30px; position: relative; z-index: 2; text-align: center;}
#content_adminAddSneaker table{ margin-left:auto; margin-right:auto;}

/* 발매완료 숨기기 버튼 */
#showAllChk { width: 25%; text-align: center; padding: 35px 5px 0 5px; font-family: 'Nanum Gothic', sans-serif; display: flex; margin: 0 auto; }
#showAllChk span { cursor: pointer; }
#before { width: 50%; font-size: 1em; font-weight: bold; padding: .75rem 1.5rem; display: inline-block; text-align: center; letter-spacing: .3rem; background-color: #bfbfbf; color: #000; }
#after { width: 50%; font-size: 1em; font-weight: bold; padding: .75rem 1.5rem; display: inline-block; text-align: center; letter-spacing: .3rem; background-color: #f2f2f2; color: #000; }

/* 신발 리스트 페이지 ------------------------------------------------------------------------------------------------------------ */
#content_sneakerList { margin-top: 0; width: 100%; /*height: 800px;*/ z-index: 2; padding-bottom: 2.5rem; }
.month { width: 100%;  text-align: right; border-bottom: 1px solid #d2d2d2; font-family: 'Noto Sans KR', sans-serif; font-size: 22px; font-weight: bold; padding:5px;}
.month span { font-size: 21px; margin: 0 5px; }
.div_month { position: relative; width: 100%; float: left; margin-bottom: 50px; }

.no_info { text-align: center; margin: 3% 1%; }

/* 월 알려주는 칸 */
.shoelist_content_month { z-index: 8; position:relative; float: left; text-align: left; width: 18%; margin: 1.5% 1%; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 2.3em; padding: 0 1%; }
.shoelist_content_month p span { font-size: 4em; font-family: 'Roboto Slab', serif; letter-spacing: 5px; position: relative; top: 5px; }
#release_2020, #release_2021 { font-size: 2em !important; }
.shoelist_content_month p:nth-child(2) { font-size: 0.9em; position: relative; top: -10px; }
.shoelist_content_month p:last-child { padding-top: 5%; padding-bottom: 25%; position: relative; top: -10px; }

/* 리스트 한칸 */
.shoelist_content { z-index:8; position:relative; float: left; text-align: center; width: 18%; margin: 1.5% 1%; border: 1px solid rgb(222 222 222); box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); font-family: 'Nanum Gothic', sans-serif;  transition: all 0.3s; /* border-radius: 0.3rem;*/ }
.shoelist_content img { width:180px; height:130px; width: 95%; height: 95%; transform:scale(1.0); transition: transform.5s; }
.shoelist_content:hover .content_img img{ transform:scale(1.05); transition: transform.5s; }

/* 발매일 */
.release_date { font-size: 1.2em; font-weight: bold; background-color: #2d2d2d; padding: .5rem 1rem; color: white; /*border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem;*/ }

/* 메인 내용 */
.content_wrapper { padding: 1%; }
.content_wrapper_draw { padding: 1% 1% 3% 1%; }
.content_wrapper div, .content_wrapper_draw div { display: block; }

	/* 이미지 */
	.content_img { position: relative; border-bottom: 1px solid #dedede; padding: 14% 0 12% 0; }
	
	/* 디데이라벨 */
	#dd-label-wrapper { display: none; position: absolute; top: 3%; right: 5%; width: 30%; text-align: right; margin-top: 1%; }
	#dd-label { font-size: 18px; font-weight: bold; color: #da5858; border: 1px solid rgb(226 226 226); padding: 5% 7%; border-radius: 3px; }
	
	/* 알람 알리는 줄 */
	#alarm-wrapper { position: absolute; width: 100%; text-align: left; padding-left: 4%; bottom: -3.5%; }
	#alarm-wrapper div { margin-right: 1%; display: inline-block; }

	/* 응모중 알람 */
	#ing_status_wrapper {
	    border: 1px solid #58af58;
	    background-color: #58af58;
	    z-index: 50;
	    color: white;
	    text-align: center;
	}
	/* New 알람 */
	#recent-dot-wrapper { 
	    border: 1px solid #e05757;
	    background-color: white;
	    z-index: 50;
	    color: #e05757;	
	    text-align: center;
	}
	#ing_status, #recent-dot { font-size: 15px; font-weight: bold; padding: 4px 5px; }
	
	/* 이름 */
	.content_name { margin-top: 1%; }
	.content_name .model_name { font-size: 14.5px; height: 27px; padding: 0 1.5%; }


	.content_links { padding: 8% 4% 7.5% 4%; }
	
	#link-wrapper {
	    position: relative;
	    transition: all 0.3s;
	    font-size: 1.05em;
	    font-weight: normal;
	    width: 100%;
	    color: #000000;
	    text-align: left !important;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    word-wrap: break-word;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	    line-height: 1.2em;
		height: 40px;
	}
	#link-wrapper:hover { color: #939393; }
	
	/* 발매완료 div */
	.opac_background {
		position:absolute;
		width: 100%;
		height: 100%;
/* 		display: table; */
		font-size: 1.4em;
		font-weight: bold;
		background-color: white;
		z-index: 9;
		opacity: 0.4;
	}
	.rel_finish {
		position:absolute;
		width: 100%;
		height: 100%;
		display: table;
		font-weight: bold;
		z-index: 10;
		opacity: 0.5;
	}
	.rel_finish_label {
		padding-top: 60%;
    	z-index: 11;
    	font-size: 1.7em;
	}
	
	
	





/* 모바일 -------------------------------------------------------------- */
/*  ----------------------------------------------------------------- */

/* 1680px 밑으로 적용 */
@media screen and (max-width: 1680px) {

}

/* 0 ~ 1220px */
@media screen and (max-width: 1220px) {
	/* 제목 */
	.sub-title { font-size:22px; }
	
	/* 오늘의 발매처 part ----------------------------------------------------------------------------- */
	/* td 발매처 정보 block */
	.todays-brandName { font-size:21px; }
	.release-status { font-size:14px; padding:3px 4px; }
	.release-info { padding-left:0 !important; }
	.brand-info-container { width:100%; }
	.info-subTitle, .info-content { font-size:15px; }
	.remain-time { font-size:18px; }
	.remainTime-container { font-size:14px; } 
	
	.todaysRelease-content1 { padding-left:20px; }
	.todaysRelease-content2 { width:80%; } 
	
	/* 브랜드 이미지 */
	.brandImg { width:100px !important; height:100px !important; }
	
	/* 발매제품 이미지 */
	.releaseModel-image img { padding:60px 10px 20px 10px; }
	
	/* 오늘의 발매처 */
	/* 브랜드 이미지 */
	.brandImg { width:120px !important; height:120px !important; }

	/* 나의 응모내역 리스트 페이지 */
	.myDrawShoeInfo-name { font-size:16px; } 

	/* 나의 응모내역 디테일 페이지 */
	.shoeFullName_eng { font-size:25px; }
	
}


/* 0 ~ 768px */
@media screen and (max-width: 768px){
	/* 제목 */
	.sub-title { font-size:20px; margin:0 0 10px 0; padding:0 0 5px 0; }
	
	/* 현재 발매중 박스 크기 변경 */
	.mainSneaker-container { width:31.33%; }
	
	/* 오늘의 발매처 */
	.brandPart { display:inline-block; width:60%; }
	.todaysShoePart { width:40%; }
	.todaysBrandPart, .todaysBrandPart2 { display:block; width:90%; }
	.brandImg { width:80px !important; height:80px !important; }
	.todays-brandName { font-size:18px; }
	.countryflag { width:30px !important; height:19px !important; }
	.todaysStatus { margin-top:20px; }
	
	.releaseModel-image img { width:90%; }
	
	/* 나이키코리아 snkrs */
	.snkrsSneaker-container { width:40%; }
	div.snkrs_date { font-size: 22px; }
	

	/* 나의 응모내역 리스트 페이지 */
	.myDrawShoeInfo-name { font-size:14px; min-height:38px; }
	.myDrawShoeInfo-countNum { font-size: 14px; }
	
		/* 나의 응모내역 디테일 페이지 */
		.shoeFullName_eng { font-size:21px; margin:0 0 8px 0; }
		.shoeFullName_kr { font-size:15px; }
		.shoeDetailInfo { padding-top:10px; }
		.shoeinfo-cateAns { font-size:15px; }		
		.shoeDetailInfo-name { padding-bottom:5px; }
		.shoeDetailInfo-directlinks span { font-size:15px; padding:4px 10px; }
		.dividePipe { padding:0 5px; }
}


/* 0 ~ 480px */
@media screen and (max-width: 480px){
	
	.todaysRelease-container, .releasing-container, .release-container, .thisWeek-container, .snkrsWeek-container, .myDrawList-container , .popular-container { padding:40px 0; }
/* 	.todaysRelease-container, .releasing-container, .thisWeek-container, .snkrsWeek-container { border-bottom:5px solid #f6f6f6; } */
	
	/* 제목 */
	.sub-title { font-size:22px; padding:0 4% 5px 4%; margin:0 0 5px 0; }
	.desc-container { font-size:13px; padding:0 4% 15px 4%; }
	
	/* 전체보기 버튼 */
	.allReleasingButton { display:inline-block; }
	.allReleasingButton, .allButton { padding:2px 6px; background-color:white; border:none; color:black; font-size:13px !important; margin-top:3px; }
	.allReleasingButton:after, .allButton:after { content: ">"; padding-left:3px; }
	
	.releasing-container { margin-top:40px !important; display:block; }
	.release-container, .released-container { margin-top:20px !important; display:block; }
	.snkrsWeek-container { display:block; }
	
	/* 메인페이지 - 발매 중 라인 업 */
	.releasing-table-container { overflow-x:scroll; padding:0 4%; white-space:nowrap; }
	.mainSneaker-container { width:50%; display:inline-block; margin:0 10px 0 0; float:unset; }
	.mainSneaker-image img { border-bottom:0; }
	.mainSneakerShoeInfo-container { padding:5% 2% 7% 2%; white-space:normal; }
	.mainSneakerShoeInfo-name { font-size:14px; }
	.mainSneaker-brandCount, .mainSneaker-brandCount2 { font-size:14px; }
	.mainSneaker-brandCount2 { display:block; }

	/* 인기 제품 */
	.popular-table-container { overflow-x:auto; white-space:nowrap; padding:2% 0; }
	.popular-product { display:inline-block; float:none; width:25%; margin:0 0 0 3%; }
	
	/* 오늘의 발매처 */
	.todays-table-container { padding:0 4%; }
	.todaysRow { padding:12% 0; }
	
	.brandPart { width:65%; margin-right:5%; }
	.todaysShoePart { width:30%; }
	.todaysBrandPart, .todaysBrandPart2 { width:100%; }
	
	/* 정보 */
	.brandImg { width:60px !important; height:60px !important; }
	.countryflag { width:28px !important; height:18px !important; }
	.todaysBrandName { padding:3px 0 0 0; }
	.todaysInfo, .todaysReleaseTime { margin-top:7px; font-size:12px; }
	
	.todaysStatus { margin-top:10px; }
	.release-status { font-size:13px; padding:3px 8px; }
	.todaysRemainTime { margin-top:8px; }
	.remain-time { font-size:16px; padding:0 !important; }
	.count_label { display:none; }
	.mob_count_label { display:inline-block; font-size:16px; }
	.card_link, .card_checkBox { font-size:13px; padding:0.3rem 0.5rem; }
	
	/* 신발 이미지 */
	.releaseModel-image img { width:100%; padding:100px 5px 70px 5px; }


	/* 나이키코리아 snkrs */
	.sub-title img { width:40px; height:25px; }
	.snkrsSneaker-container { width:60%; margin-right:15px; }
	.dDay-status { padding:15px 12px; }
	.dDay-status span { font-size:15px; padding:0 6px; }
	.snkrsSneaker-container img { padding:65px 10px 10px 10px;  }
	.snkrs_noRelease { font-size:15px; }
	.snkrsWeek-table-container { padding:10px 4% 30px 4%; } 
	div.snkrs_date { font-size:20px; }
	
	
	/* 회원 응모내역 리스트 */
	.myDraw-table-container { padding:0 2%; }
	.myDrawList-container { margin-top:20px !important; }
	.myDraw-container { width:48%; border:0; display:inline-block; margin:0 1% 10% 1%; box-shadow:none; }
	.myDraw-image img { border-bottom:0; padding:25% 5% 8% 5%; }
	.myDrawShoeInfo-container { padding:5% 2% 7% 2%; }
	.myDrawShoeInfo-name { min-height:33px; }
	
	
	/* 회원 응모내역 디테일 */
	.shoeinfo-container { margin-top:0 !important; padding-bottom:15px !important; }
	.shoeImg-container, .shoeImg-container img { width:100%; }
	.shoeinfo-container, .shoeDetailInfo-container { display:block; }
	.shoeDetailInfo-container { width:100%; padding:2% 4%; margin-left:0; }
	.shoeFullName_eng { font-size:17px; }
	.shoeFullName_kr { font-size:14px; }
	.shoeinfo-cateAns { font-size:13px; }
	.shoeDetailInfo-content { overflow-x:auto; white-space:nowrap; }
	.shoeDetailInfo-modelColorWay { width:110px; }
	.shoeDetailInfo-directlinks span { font-size:14px; display:block; padding:8px 5px; text-align:center; width:100%; }
	.shoeDetailInfo-directlinks { margin-top:0; }
	.sub-title h4 span { font-size:14px !important; }
	.shoeDetailInfo { padding-top: 15px; }
	
	/* 표 */
	.brandList-container { padding:10px 0 20px 0; }
	.brandList-table table th:nth-child(1) { width:5% !important; } 
	.brandList-table table th:nth-child(3), .brandList-table table th:nth-child(4), .brandList-table table th:nth-child(5),
	.brandList-table table td:nth-child(3), .brandList-table table td:nth-child(4), .brandList-table table td:nth-child(5) { display:none; }
	.brandList-table table th { padding:12px 0; font-size:14px; }
	.brandList-table table td { padding:20px 5px; }
	.phone-drawDetail { display:block; font-size:13px; margin-top:10px; }
	.phone-drawDetail div { margin-top:5px; }
	
	.phone-regionCate-container { display:block; }
	#sub-title해외, #table해외 { display:none; }
	#sub-title해외 { padding-top:0 !important; }
	.myDrawListDetail-container { margin-top:10px !important; }
	
	
	
	
	
}







