@CHARSET "UTF-8";@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container { position: relative; width: 1200px; margin: 5px auto; }

/* 신발 상세정보 페이지  ------------------------------------------------------------------------------------------------------------ */
#content_sneakerDetail{ width: 100%; float: left; position: relative; z-index: 2; font-family: 'Nanum Gothic', sans-serif; }
#content_sneakerDetail div#sneaker_Detail{ width: 100%; padding: 0 5%; }
#content_sneakerDetail div#sneakerOnlineInfo_table{ width: 100%; }

	/* 카테고리 */
	#cate_Detail { width: 100%; line-height: 24px; padding: 2.5% 1% 0 1%; font-size: 14px; font-family: 'Nanum Gothic', sans-serif; }
	#cate_Detail span { color: #232323; }
	.arrow { padding: 0 6px 0 8px; font-size: 0.9em; }

	/* 신발 기본정보 */
	.sneaker_image_wrapper { width: 100%; display: block; }
	.detail_wrapper { overflow: auto; width: 100%; display: block; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; padding: 2.5% 0;}
		/* 이미지 & 이름*/
		.sneaker_image { text-align: center; }
		.sneaker_image>img, .sneaker_image_draw>img { width: 500px; height: 340px; }
			/* 이름 */
			.sneaker_image_wrapper div.sneaker_name { text-align: center; margin-bottom: 13px; }
			.sneaker_name { line-height: 30px; text-transform: uppercase; font-size:20px; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; color: #232323; }
			.sneaker_name span { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 90%; }
			
		/* 내용 */
		.detail_wrapper div.desc_wrapper, .detail_wrapper div.relBtn_wrapper { width: 50%; float: left; }
		.cate_wrapper { width: 100%; float: left; }
		.sneaker_cate { line-height: 30px; display: block; }
		.sneaker_cate label { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 120px; }
		.sneaker_cate span { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 320px; }
		
		.rel_Btn { border: 1px solid #232323; padding: 4px; width: 70%; background-color: white; font-weight: bold; transition: all 0.3s; color: #232323; padding: 11px 15px 7px; font-family: 'Nanum Gothic', sans-serif; }
		.rel_Btn:hover { cursor: pointer; background-color: #232323; color: white; }
		#rel_Btn_label { width: 100%; } 
		
		#clickNum-wrapper { margin-top: 3%; } /* 조회수 */
	
/* 멤버 응모 여부 페이지 - 신발 상세정보 페이지 */
#content_sneakerDetail_D { width: 35%; float: left; position: relative; z-index: 2; font-family: 'Nanum Gothic', sans-serif; padding: 0 1% 1% 1%; margin: 0 0 30% 0; height: 500px; }
#content_sneakerDetail_D div#sneaker_Detail_D{ width: 100%; padding: 0 5%; }
#content_sneakerDetail_D .sneaker_image>img { width: 100%; height: 100%; }
	
	/* 신발 기본정보 */
	.detail_wrapper_D { overflow: auto; width: 100%; display: block; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; padding: 3%; }
	.detail_wrapper_D div.desc_wrapper_D { width: 100%; float: left; }
	
	.sneaker_cate_D { line-height: 35px; display: block; }
	.sneaker_cate_D label { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 40%; }
	.sneaker_cate_D span { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: right; text-align: right; width: 60%; }

#content_sneakerInfo_D { width: 65%; float: left; position: relative; z-index: 2; font-family: 'Nanum Gothic', sans-serif; padding: 0 0 5% 3%; }
#content_userDrawInfo { margin: 0 2%; }
#content_userDrawInfo h4 { font-size: 1.5em; margin: 3% 0; text-align: center; padding-top: 1%;}
/* 국내 응모 && 해외 응모 */
#dome-draw-wrapper, #inter-draw-wrapper { display: block; float: left; width: 100%; margin-bottom: 7%; }

#no-draw-wrapper { text-align:center; width: 100%; padding: 15px; }

.grid-wrapper_D { margin: 1%; width: 98%; float: left; display: block; }
.grid-wrapper_D:hover { opacity: 0.5; }
.grid-item_D { position: relative; display: flex; background: #ffffff; border: 0.3px solid #dcdcdc; border-radius: 0.3rem; z-index: 3; box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); padding: 1%; }
#brand_name_D { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 0.95em; }
#wrapper-bmethod_D { color: #6b6b6b; display: inline-block; width: 450px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 1% !important;}
#wrapper-content_D { padding: 1% 0; }
#sep { margin:0 1.5%; font-size: 0.85em; color: #dadada; font-weight: normal !important; }
#wrapper-winnerTime { margin-bottom: 3%; font-size: 1em; }

.wrapper-content { margin-bottom: 5%; }
.wrapper-content div:first-child { width:35%; float:left; margin-bottom: 0; }
.wrapper-content div:last-child { width: 65%; display: inline-block; text-align: right; margin-bottom: 0; }

	.tooltip1 { position: relative; display: inline-block; border-bottom: 1px dotted black; }
	
/* 발매리스트 css -------------------------------------------------------------------------------------------------- */
#content_sneakerInfo { margin-top: 40px; width: 100%; float: left; position: relative; z-index: 2; font-family: 'Nanum Gothic', sans-serif; font-size:0.9em; }
#content_sneakerInfo h4 { font-size: 1.7em; text-align: center; margin: 2%; }

#grid-list { width: 100%;  display: block; height: auto; overflow:hidden; margin-bottom: 5%; padding: 0 5%; }
.grid-wrapper { margin: 1.5% 1%; width: 18%; float: left; display: block; height: 600px; }
.grid-item { position: relative; background: #ffffff; border: 0.3px solid #dcdcdc; border-radius: 0.3rem; z-index: 3; box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); }
.grid-logo img { width: 65px; }
.grid-content { display: inline-block; float: left; padding: 0 1.8%; width: 100%; }
.grid-content div { margin-bottom: 8%; }

	/* 발매 정보가 없을경우 */
	#no-info-wrapper { width: 100%; text-align: center; padding: 3%; }
	#no-info-label { display: inline-block; padding: 1%; }

	/* 진행중 마크 */
	.grid-ing { position: absolute; top: 0.8%; left: 79%; width: 30%; }
	#draw_count_result_ing{background-color: #58af58; color: white; font-size: 0.5em; font-weight: bold; border: 1px solid #58af58; border-radius: 5px; padding: 1px 2px; }
	
	/* 작성자 마크 */
	.grid-info-writer { display: none; position: absolute; top: 0; left: 0; padding: 2% 4%; z-index: 5; background-color: white; font-size: 0.9em; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px solid #dcdcdc; border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem; }
	.grid-info { position: absolute; top: 1.2%; left:4%; z-index: 3; }
	.grid-info span { color: #b3b3b37d; }
	
	/* 발매 내용 파트 */
	#brandlogo_img { border: 1px solid #e2e2e2; border-radius: 0.3rem; }
	#country_flag_img { border: 0.5px solid #D9D9D9; vertical-align: middle;}
	
	#wrapper-name { margin: 1.5% 0; font-size: 1.2em; font-weight: bold; }
	#wrapper-name a { vertical-align: middle; }
	#brand_name { display: inline-block; width: 80%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	#span-flag, #wrapper-content { float: right; }
	#wrapper-period { margin-bottom: 15%; color: #dc5757; font-weight: bold; }
	
	
	/* 남은 시간 파트 */
	.grid-time { height:60px; display: block; margin: 5% 0; }
	#remain-time { text-align: center; }
	.time-label-wrapper { display: block; font-size: 0.6em; }
	.draw_count_result_wrapper { display: block; font-size: 0.9em; }
	.draw_count_result { display: inline-grid; font-size: 1.6em; font-weight: bold; }
	#draw_count_result_yet { font-size: 1em; font-weight: normal; padding-top: 8%;}
	#time-label{ display: block; font-size: 0.6em; font-weight: normal; padding-top: 20%; }
	#time-colon { font-size: 0.8em; padding: 0;}

	/* 바로가기 버튼 */
	.grid-link { display: flex; padding: 7% 5%; font-size: 0.9em;}
	.direct-link { border: 1px solid #c0c0c0; padding: 2.5%; width: 100%; text-align: center; letter-spacing: 3px; }
	.direct-link:hover { background-color: #3a3a3a; }
	.direct-link:hover > span { color: white; font-weight: bold; }

	/* toggle 바 */
	.grid-toggle-Down { display: inline-block; font-size: 0.7em; text-align: center; width: 100%; padding: 3% 1%; }
	.grid-toggle-Up { display: none; font-size: 0.7em; text-align: center; width: 100%; padding: 3% 1%; }

	/* 수정 버튼 */
	.grid-edit { cursor: pointer; display:none; width: 100%; text-align: center; padding: 5% 1%; font-size: 0.9em; }
	.grid-edit span { color: #888888; }

	/* 관리자 버튼 */
	#wrapper-admin { text-align: center; padding-bottom: 10%; }




/* 사용자 발매정보 추가하는 페이지 -------------------------------------------------------------------------------------------- */
.add_wrapper { overflow: auto; width: 100%; display: block; border-top: 2px solid #808080; border-bottom: 2px solid #808080; padding: 4% 15%; margin-bottom: 5%; }
#addOnlineForm, #updateOnlineForm { padding: 5%; border: 1px solid black; border-radius: 5px; }

#req_icon { font-size: 0.5em; color: #b50000; vertical-align: top; }
.add_wrapper #category { display: block; font-weight: bold; padding-bottom: 2%; }
.add_wrapper #warn_label { padding-top: 3%; display: block; font-size: 0.9em; color: green; }
.add_wrapper div{ padding-bottom: 9%; }
input[type=text], input[type=button] { text-align: left; height: 35px; font-size: 15px; padding-left: 8px; }

input[name=model_stylecode] { width: 20%; }
input[name=online_link] { width: 70%; }
input[type=date], input[type=time] { height: 35px; font-size: 15px; padding-left: 1%; background-color: white; }
input[type=radio] { margin: 0 0.5%; }
#radio-wrapper { padding: 1% 0 3% 0; }
#radio-wrapper:last-child { padding: 1% 0 0 0; }
.add_wrapper label { margin-right: 7%; }
.rel_Btn2 { border: 1px solid #232323; width: 50%; background-color: white; font-weight: bold; transition: all 0.3s; color: #232323; padding: 11px 15px 7px; font-family: 'Nanum Gothic', sans-serif; }
.rel_Btn2:hover { cursor: pointer; background-color: #232323; color: white; }
#submitBtn-form { padding: 3% 0; }
#del-radio-wrapper { display: inline; padding: 0;}

	/* 브랜드 검색 영역 */
	.search-form { padding-bottom: 1% !important; }
	.searched-form { display: none; padding: 1.5%; border: 1px solid #888888; width: 50%; position: absolute; background-color: white; height: 30%; overflow: scroll;}
	
	.brandList-wrapper { width: 25%; float: left; cursor: pointer; }
	
	#exit-form { width: 100%; display: block; padding: 0 1% 1% 0; text-align: right; font-size: 1.5em;}
	#exit-form2 { width: 100%; display: block; padding: 0 1% 6% 0; text-align: right; font-size: 1.2em;}
	
	.searched-form img { width: 100%; border: 1px solid #dcdcdc; }
	.brandList-wrapper { padding: 3% 1% !important; }
	.brandList-wrapper:hover { opacity: 0.3; }
	.searched-form div { padding: 1%; }
	#brandList-name { text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 0.8em; }
	#searchBtn { border: 1px solid #767676; padding: 4px 7px; }
	
	.picked-form { display: none; padding: 2%; width: 25%; padding-bottom: 1% !important; }
	.picked-form img { width: 100%; border: 1px solid #dcdcdc; box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); }
	.picked-form div { text-align: center; }
	.picked-form span { font-weight: bold; }
	
	#nothingSearched { display: none; width: 100%; text-align: center; padding: 5%; }
	#nothingSearched span { display: block; margin-top: 10%; }
	#nothingSearched div { border: 1px solid black; margin: 5% auto 10% auto; width: 40%; border-radius: 3px; transition: all 0.3s; font-weight: bold; font-size: 0.9em; cursor: pointer; }
	#nothingSearched div:hover { background-color: #232323; color: white; }
	
	#request-form { display:none; border: 1px solid #888888; border-radius: 2px; background-color: #fbfbfb; width: 90%; margin: 7% auto; }
	#request-form div { padding: 5% 5% 0 5%; text-align: center; }
	#request-form div:last-child { padding: 5%; }
	#request-form span { width: 90%; text-align: left; margin: 0 auto; }
	#request-form input { width: 90%; }
	#request-form button { border: 1px solid #232323; width: 25%; background-color: white; font-weight: bold; transition: all 0.3s; color: #232323; padding: 11px 15px 7px; font-family: 'Nanum Gothic', sans-serif; }
	#request-form button:hover { background-color: #232323; color: white; }
	

/* 관리자 권한 버튼들 */
input[type=button] { border: 1px solid #c0c0c0; padding: 4px; margin: 0 7px; background-color: white; }

#no_info { height: 70px; }

/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.container {
		width: 90%;
	}
	.sneaker_image img, .sneaker_image_draw img{
		width: 50%;
		height: 50%;
	}
	.sneaker_cate label, .sneaker_cate span {
		font-size: 0.8em;
	}
	#rel_Btn_label {
		font-size: 1em !important;
	}
	.grid-wrapper {
		width:23%;
	}
	.grid-info span {
		font-size: 1.1em !important;
	}
	#wrapper-period span {
		font-size: 0.9em;
	}
	/* 발매 정보 추가하는 영역 */
	.add_wrapper {
		padding: 2%;
	}
	#addOnlineForm, #updateOnlineForm {
		padding: 4%;
	}
	
	#draw_count_result_ing {
		font-size: 0.7em;
	}
	.grid-ing {
		top: 1.3%;
		left: 76%;
	}
	.searched-form {
		width: 70%;
	}
	
	/* 멤버 응모 영역 */
	#content_sneakerDetail_D{
		font-size:0.9em;
	}
	.sneaker_name {
		font-size:0.9em;
		line-height: 20px;
	}
	#dome-draw-wrapper, #inter-draw-wrapper {
		font-size: 0.8em;
	}
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	
	#content_sneakerDetail_D {
		width: 100%;
		font-size: 1em;
		margin: 1% 0 20% 0;
	}
	.grid-wrapper {
		width:31.33%;
	}
	.rel_Btn{
		width: 100%;
	}
	.grid-wrapper span {
		font-size: 0.9em;
	}
	#content_sneakerDetail div#cate_Detail {
		padding: 2.5% 0 0;
		font-size: 0.6em;
	}
	#content_sneakerDetail div#sneaker_Detail {
		padding: 0;
	}
	.detail_wrapper {
		padding: 2.5% 2%;
	}
	#grid-list {
		padding: 0;
		margin-bottom: 10%;
	}
	.draw_count_result_wrapper {
		font-size: 1em !important;
	}
	.grid-ing {
		top: 1.5%;
		left: 77%;
	}
	
	/* 멤버 응모 영역 */
	#content_sneakerInfo_D {
		width: 100%;
		padding: 0;
	}
	#nothingSearched div {
		width: 60%;
	}
	.sneaker_name {
		line-height: 20px;
	}
	
}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	.sneaker_image img, .sneaker_image_draw img{
		width: 70%;
		height: 70%;
	}
	.sneaker_name {
		line-height: unset;
	}
	.detail_wrapper {
		padding: 2.5%;
	}
	.detail_wrapper div.desc_wrapper, .detail_wrapper div.relBtn_wrapper {
		width: 100%;
	}
	.sneaker_cate label {
		width: 36%;
	}
	.desc_wrapper .sneaker_cate span {
		text-align: right;
		width: 62%;
	}
	#content_userDrawInfo h4 {
    	font-size: 1.25em;
    	margin: 3% 0;
    	text-align: center;
    	padding-top: 1%;
	}
	#no-info-wrapper {
		padding: 10%;
	}	
	.grid-wrapper {
		width: 46%;
    	margin: 2%;
    	height: unset;
	}
	#wrapper-period span {
		font-size: 0.8em;
	}
	#country_flag_img {
		width: 20px;
   		height: 13px;
	}
	.wrapper-content span {
		font-size:0.8em;
	}
	.grid-ing {
		top: 1.5%;
		left: 72%;
	}
	.draw_count_result_wrapper {
    	font-size: 0.85em !important;
	}
	#dome-draw-wrapper, #inter-draw-wrapper {
		font-size: 0.7em;
	}
	
	/* 발매 추가 영역 */
	.add_wrapper #category {
		font-size: 0.9em;
		padding-bottom: 3%;
	}
	input[name=model_stylecode] {
    	width: 50%;
	}
	input[name=online_link] {
    	width: 100%;
	}
	input[type=date], input[type=time] {
		display: block;
		margin-bottom: 2%;
	}
	label {
		font-size: 0.9em;
	}
	#del-radio-wrapper {
		display: block;
		padding: 1% 0 3% 0;
	}
	.searched-form {
    	width: 80%;
	}
	#brandList-name {
		font-size: 0.5em;
	}
	
	/* 멤버 응모 영역 */
	.no_info {
		margin: 8% 1%;
	}
	#content_sneakerDetail_D {
		width: 100%;
    	float: left;
    	height: unset;
    	margin: 4% 0;
    	font-size: 0.8em;
	}
	#content_sneakerInfo_D {
		width: 100%;
		padding: 0;
	}
	
	#content_userDrawInfo {
	    margin: 0;
	}
	
	.grid-logo img {
    	width: 60px;
	}
	
	#wrapper-bmethod_D {
		width: 250px; 
	}
	
	#sep { display: none; }
	#method, #winner_time { 
		display: block; 
		padding: 1% 0; 
	}
	.grid-item_D {
		padding: 2%;
	}
	
	.sneaker_cate_D {
    	line-height: 25px;
	}
	
	#time{
		display: none;
	}
	
	.grid-content {
		padding: 0 0 0 3%;
	}
	
	#cate_Detail {
		padding: 4% 1% 0 1%;
    	font-size: 0.8em;
	}
}
	