@CHARSET "UTF-8";

* { margin:0; padding:0; box-sizing: border-box; }
body { font-size:1em; line-weight:1.4 }

/* 모든 페이지 공통 부분 */
.container { position: relative; width: 1200px; margin: 5px auto; }

/* 로그인 & 회원가입 페이지 */

h3{ margin: 30px 0; }

#content_login { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 100%; margin:200px auto; height: 300px; font-weight: bold; }
#content_register { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 100%; margin:120px auto; height: 500px; }
#content_modify { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 100%; margin:120px auto; height: 500px; }
#content_idpwfind { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 100%; margin:120px auto; height: 500px; }

.login-form, .join-form, .modi-form { list-style: none; width: 40%; height: 100%; margin: 0 auto; position: relative; }
.idfind-form, .pwfind-form { list-style: none; width: 100%; height: 100%; margin: 0 auto; position: relative; }

.login-form div, .join-form div, .modi-form div, .idfind-form div, .pwfind-form div {position:relative; float: left; width: 100%; height: 40px; margin: 5px 0; }
.login-form input, .join-form input, .modi-form input { width: 100%; height: 100%; font-size: 15px; font-weight: bold; font-family: 'Nanum Gothic', sans-serif; padding-left: 8px;}

.idfind-form input, .pwfind-form input { width: 70%; height: 100%; font-size: 15px; font-weight: bold; font-family: 'Nanum Gothic', sans-serif; padding-left: 8px; }

/* 중복체크 버튼*/
.checkEmail { position: absolute; float: right; height: 40px; width: 20%; margin-top: 5px; margin-left: 10px; border: 1px solid #000000; background-color: white; font-size: 15px; font-family: 'Nanum Gothic', sans-serif; font-weight: bold;}
.checkEmail:hover { background-color: black; color: white; }

/* 비밀번호 확인하는 div 태그 */
.confirmMsg:not(.join-form) { height: 20px; font-size: 14px; text-align: left; margin: 0 0 10px 0; padding-left: 10px; }

::placeholder { }
input:focus::placeholder { color: transparent; }

/* 로그인, 가입하기 버튼 부모 속성 무시하기 */
.fm_submitBtn:not(.join-form) {position:relative; float: left; width: 100%; height: 48px; margin: 5px 0;  margin-top: 10px; margin-bottom: 5px; }
.fm_submitBtn input, .fm_idpwsubmitBtn input { width: 100%; height: 48px; border: 1px solid #303030; border-radius: 7px; background-color: #303030; font-size: 20px; color: white; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; margin-bottom: 5px; }

.join_submitBtn:not(.join-form) { width: 100%; height: 48px; border: 1px solid #303030;  background-color: #303030; font-size: 20px; color: white; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; margin: 10px 0;}

/* 아이디찾기, 비밀번호 찾기 버튼 부모 속성 무시하기 */
.fm_idpwsubmitBtn:not(.idfind-form) {position:relative; float: left; width: 100%; height: 48px; margin: 5px 0;  margin-top: 10px; margin-bottom: 5px; }
.fm_idpwsubmitBtn input { width: 70%; height: 48px; border: 1px solid #303030; background-color: #303030; font-size: 20px; color: white; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; margin-bottom: 5px; }

/* 아이디, 비밀번호 찾기 */
.fm_findBtn:not(.join-form) { margin: 40px 0; text-align: center; }
.fm_findBtn ul { display: inline-block; margin-right: 10px; }
.fm_findBtn li { list-style: none; float: left; padding: 0 20px; }

#content_idpwfind p { font-size: 12px; color: #8d8d8d; line-height: 18px; }
#idfind_wrap { height:100%; float: left; width: 50%; border-right: 1px solid #c3c3c3; }
#pwfind_wrap { height:100%; float: left; width: 50%; }


/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.container {
		width: 100%;
	}
	.login-form, .join-form, .modi-form, .idfind-form, .pwfind-form {
		width: 50%;
	}
	.checkEmail {
		width: 25%;
	}
	#pwfind_wrap {
		height: none;
	}
	#idfind_wrap {
		float: none;
		width: 100%;
		height: 70%;
		border-right: none;
	}
	#pwfind_wrap {
		float: left;
		width: 100%;
		height: 100%;
	}
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	#content_login, #content_register, #content_modify, #content_idpwfind{
		margin: 70px auto;
		height: 500px;
	}
	.container {
		width: 100%;
	}
	.login-form {
		width: 70%;
	}
	.join-form, .modi-form, .idfind-form, .pwfind-form {
		width: 80%;
	}
	.join-form div, .modi-form div, .idfind-form div, .pwfind-form div {
		margin: 8px 0;
	}
	.checkEmail {
		position: relative;
		margin-top: 0;
		margin-bottom: 5px;
		width: 100%;
	}
	
	#content_idpwfind p {
		font-size: 0.8em;
	}
	.idfind-form input, .pwfind-form input {
		width: 70%;
	}
}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	#content_login, #content_register, #content_modify, #content_idpwfind{
		margin: 70px auto;
		height: 500px;
	}
	.container {
		width: 100%;
	}
	.login-form {
		width: 70%;
	}
	.join-form, .modi-form, .idfind-form, .pwfind-form {
		width: 80%;
	}
	.join-form div, .modi-form div, .idfind-form div, .pwfind-form div {
		margin: 8px 0;
	}
	.checkEmail {
		position: relative;
		margin-top: 0;
		margin-bottom: 5px;
		width: 100%;
	}
	
	#content_idpwfind p {
		font-size: 0.7em;
	}
	.idfind-form input, .pwfind-form input {
		width: 100%;
	}
}