@CHARSET "UTF-8";

* { margin:0; padding:0; box-sizing: border-box; }
body { font-size:1em; line-weight:1.4 }

/* 모든 페이지 공통 부분 */
a { text-decoration: none; color: #000000; }
.container { position: relative;  display: table; background: #fafafa; width:100%; height: 900px;}
.component-page { width: 1200px; margin: 0 auto;  }

/* 로그인 & 회원가입 페이지 */
.mem_header { min-height:80px; border-bottom: 1px solid #e7e7e7; display: table; width: 100%;}
.navbar_logo { z-index: 1; font-size: 60px; font-family: 'Anton', sans-serif; text-align: center; display: table-cell; vertical-align: middle; padding: 5px 0;}

h3{ margin: 30px 0; }
.change_form { width:90%; margin: 0 auto; position: relative; }
.signup-toggle, .login-toggle { width: 50%; float: left; height: 50px; border-bottom: 3px solid #e0e0e0; color: #939393; padding: 14px; cursor: pointer; margin: 10px 0 30px 0; }
.change_form .login-toggle { border-bottom: 3px solid #424242; color: #424242; }
.change_form .idpw-toggle { width: 100%; float: left; height: 50px; border-bottom: 3px solid #424242; color: #424242; padding: 14px; margin: 10px 0 30px 0; }

#content_login { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 40%; margin:100px auto; height: 350px; font-weight: bold; border: 1px solid #e0e0e0; background: white; }
#content_modify { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 40%; margin:100px auto; height: 500px; font-weight: bold; border: 1px solid #e0e0e0; background: white; }
#content_modifyPW { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 40%; margin:100px auto; height: 390px; font-weight: bold; border: 1px solid #e0e0e0; background: white; }

#content_idpwfind { font-family: 'Nanum Gothic', sans-serif; text-align:center; width: 40%; margin:100px auto; height: 400px; font-weight: bold; border: 1px solid #e0e0e0; background: white; }

.login-form, .join-form, .modi-form { list-style: none; width: 90%; height: 100%; margin: 0 auto; position: relative; }
.idfind-form, .pwfind-form { list-style: none; width: 90%; height: 100%; margin: 0 auto; position: relative; }

.login-form div, .join-form div, .modi-form div, .idfind-form div, .pwfind-form div {position:relative; float: left; width: 100%; height: 40px; margin: 5px 0; }
.login-form input, .join-form input, .modi-form input, .idfind-form input, .pwfind-form input { width: 100%; height: 100%; font-size: 15px; font-weight: bold; font-family: 'Nanum Gothic', sans-serif; padding-left: 8px;}
.join-form p { display: inline-block; width: 100%; text-align: left; padding-left: 1%; }
input[name=privacy] { height: unset; width: 10%; height: 20px; vertical-align: middle; }
#privacy_label { font-size: 0.9em; font-weight: normal; }
#popup_privacy { font-size: 0.8em; text-decoration: underline; cursor: pointer; }

/* 회원가입 form display: none */
#joinForm { display: none; }

/* 중복체크 버튼*/
/* .checkEmail { position: absolute; float: right; height: 40px; width: 20%; margin-top: 5px; margin-left: 10px; border: 1px solid #000000; background-color: white; font-size: 15px; font-family: 'Nanum Gothic', sans-serif; font-weight: bold;} */
.checkEmail { display: table; float: right; height: 40px; width: 100%; position: relative; margin-top: 0; margin-bottom: 5px; border: 1px solid black; background-color: white; font-size: 15px; font-weight: bold;}
.checkEmail:hover { background-color: black; color: white; }

/* 비밀번호 확인하는 div 태그 */
.confirmMsg1:not(.join-form), .confirmMsg2:not(.join-form) { height: 20px; font-size: 14px; text-align: left; margin: 0 0 10px 0; padding-left: 10px; }

::placeholder { }
input:focus::placeholder { color: transparent; }

/* 로그인, 가입하기 버튼 부모 속성 무시하기 */
.fm_submitBtn:not(.join-form) {position:relative; float: left; width: 100%; height: 48px; margin: 5px 0;  margin-top: 10px; margin-bottom: 5px; }
.fm_submitBtn button { width: 100%; height: 48px; border: 1px solid #303030; border-radius: 7px; background-color: #303030; font-size: 20px; color: white; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; margin-bottom: 5px; }

.join_submitBtn:not(.join-form){ width: 100%; height: 48px; border: 1px solid #303030;  background-color: #303030; font-size: 20px; color: white; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; margin: 10px 0;}

/* 아이디찾기, 비밀번호 찾기 버튼 부모 속성 무시하기 */
#pwfind_wrap { display: none; }

.fm_idpwsubmitBtn:not(.idfind-form) {position:relative; float: left; width: 100%; height: 48px; margin: 5px 0;  margin-top: 10px; margin-bottom: 5px; }
.fm_idpwsubmitBtn button { width: 100%; height: 48px; border: 1px solid #303030; border-radius: 7px; background-color: #303030; font-size: 20px; color: white; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; margin-bottom: 5px; }

#content_idpwfind p { width: 90%; font-size: 12px; color: #8d8d8d; line-height: 18px; margin: 0 auto; }

.pre-page { display: inline-flex; height: 15px; text-align: left; width: 100%; padding-top: 20px;}

.fm_find { font-size: 0.8em; margin: 0; text-align: right; }

/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.container {
		width: 100%;
		height: 600px;
	}
	.component-page {
		width: 100%;
	}
	
	.login-form, .join-form, .modi-form, .idfind-form, .pwfind-form {
		width: 90%;
	}
	.checkEmail {
		width: 100%;
	}
	#pwfind_wrap {
		height: none;
	}
	#idfind_wrap {
		float: none;
		width: 100%;
		height: 70%;
		border-right: none;
	}
	#pwfind_wrap {
		float: left;
		width: 100%;
		height: 100%;
	}
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	#content_login, #content_register, #content_modify, #content_idpwfind{
		margin: 50px auto;
		width: 90%;
	}
	.container {
		width: 100%;
		height: 600px;
	}
	.component-page {
		width: 100%;
	}

	.login-form, .join-form, .modi-form, .idfind-form, .pwfind-form {
		width: 90%;
	}
	.join-form div, .modi-form div, .idfind-form div, .pwfind-form div {
		margin: 8px 0;
	}
	.checkEmail {
		position: relative;
		margin-top: 0;
		margin-bottom: 5px;
		width: 100%;
	}
	
	#pre-page-icon{
		font-size: 1.8em; 
	}
	
	#content_idpwfind p {
		font-size: 0.7em;
	}
}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	#content_login, #content_register, #content_modify, #content_idpwfind{
		margin: 40px auto;
		width: 90%;
	}
	.container {
		width: 100%;
		height: 600px;
	}
	
	.login-form, .join-form, .modi-form, .idfind-form, .pwfind-form {
		width: 90%;
	}
	.join-form div, .modi-form div, .idfind-form div, .pwfind-form div {
		margin: 8px 0;
	}
	.checkEmail {
		position: relative;
		margin-top: 0;
		margin-bottom: 5px;
		width: 100%;
	}
	
	#pre-page-icon{
		font-size: 1.8em; 
	}
	
	#content_idpwfind p {
		font-size: 0.7em;
	}
}