@CHARSET "UTF-8";

* { margin:0; padding:0; box-sizing: border-box; }
body { font-size:1em; line-weight:1.4 }

/* 모든 페이지 공통 부분 */
a { text-decoration: none; color: #000000; }


input:focus{ outline: none; }

/* 로그인 & 회원가입 페이지 */
.component-page { width:450px; border:1px solid #a5a5a5; margin:50px auto; z-index:1000; box-shadow:0px 2px 5px #44444433; }
.login-box, .join-box, .accCheck-box, .update-box, .findPass-box, .resetPass-box { font-family: 'Nanum Gothic', sans-serif; display:block; }
.login-box { padding:25px 25px 0 25px; margin-bottom:20px; }
.join-box, .accCheck-box, .update-box, .findPass-box, .resetPass-box { padding:25px; }

.login_subtitle, .join_subtitle, .accCheck_subtitle, .update_subtitle, .findPass_subtitle, .resetPass_subtitle { border-bottom:1px solid #dadada; padding-bottom:20px; }
.login_subtitle span, .join_subtitle span, .accCheck_subtitle span, .update_subtitle span, .findPass_subtitle span, .resetPass_subtitle span { font-size:20px; color:#595b5a; font-weight:bold; }

/* Login, Register, accCheck, .update Part */
.loginformBox, .joinformBox, .accCheckformBox, .updateformBox, .findPassformBox, .resetPassBox { padding-top:15px; }

	.login-form { width:100%; }
	.fm_txt { margin:5px 0; font-size:15px; color:black; }
	.fm_input { display:-webkit-box; }
	.fm_input input { font-size:15px; position:relative; float:left; width:100%; height:36px; margin:5px 0 15px 0; color:#595b5a; border:1px solid #c1c1c1; padding:18px 10px; }
	/* 암호를 잊으셨습니까? */
	.fm_find { font-size:13px; margin:5px 0 15px 0; text-align:right; }
	/* 로그인, 회원가입 버튼 */
	.fm_submitBtn { margin-top:15px; }
	.fm_submitBtn button, .join_submitBtn button { width:100%; height:45px; border:1px solid #191919; background-color:#191919; font-size:18px; color:white; font-family:'Nanum Gothic', sans-serif; }

	/* 회원이 아닙니까? */
	.joinPopUp-text, .joinPopUp-textUp { font-family:'Nanum Gothic', sans-serif; display:block; text-align:center; font-size:14px; cursor:pointer; }

	/* 이용약관 & 개인정책 */
	.privacyBox { margin:10px 0 20px 0; }
	.privacyBox p { padding:5px 0; }
	.privacyBox p input { width:17px; height:17px; vertical-align:bottom; }
	#privacy_label { font-size:15px; font-weight:normal; padding-left:5px; }
	#popup_privacy { font-size:14px; text-decoration:underline; cursor:pointer; padding-left:5px; }

	/* 회원탈퇴신청 */
	.content_modify { text-align:center; margin:0 0 20px 0; }
	.delete_text { vertical-align: middle; font-size:14px; color:#8d8d8d; cursor:pointer; }

	/* 로그인 페이지로 돌아가는 버튼 */
	.pre-page { display:block; width: 100%; padding:0 0 15px 0; }
















/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.container {
		width: 100%;
		height: 600px;
	}
	.component-page {
		width: 100%;
	}
	
	.login-form, .join-form, .modi-form, .idfind-form, .pwfind-form, .up-form {
		width: 90%;
	}
	.checkEmail {
		width: 100%;
	}
	#pwfind_wrap {
		height: none;
	}
	#idfind_wrap {
		float: none;
		width: 100%;
		height: 70%;
		border-right: none;
	}
	#pwfind_wrap {
		float: left;
		width: 100%;
		height: 100%;
	}
	.confirmMsg1:not(.join-form), .confirmMsg2:not(.join-form) {
		font-size: 0.8em;
	}
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	#content_login, #content_register, #content_modify, #content_idpwfind, #content_upPos{
		margin: 50px auto;
		width: 80%;
	}
	.container {
		width: 100%;
		height: 600px;
	}
	.component-page {
		width: 100%;
	}

	.login-form, .join-form, .modi-form, .idfind-form, .pwfind-form, .up-form {
		width: 90%;
	}
	.join-form div, .modi-form div, .idfind-form div, .pwfind-form div, .up-form div {
		margin: 8px 0;
	}
	.checkEmail {
		position: relative;
		margin-top: 0;
		margin-bottom: 5px;
		width: 100%;
	}
	
	#pre-page-icon{
		font-size: 1.8em; 
	}
	
	#content_idpwfind p {
		font-size: 0.7em;
	}
}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	#content_login, #content_register, #content_modify, #content_idpwfind, #content_upPos, #content_modifyPW{
		margin: 40px auto;
		width: 90%;
	}
	.container {
		width: 100%;
		height: 600px;
	}
	
	.login-form, .join-form, .modi-form, .idfind-form, .pwfind-form, .up-form {
		width: 90%;
	}
	.join-form div, .modi-form div, .idfind-form div, .pwfind-form div, .up-form div {
		margin: 8px 0;
	}
	.checkEmail {
		position: relative;
		margin-top: 0;
		margin-bottom: 5px;
		width: 100%;
	}
	
	#pre-page-icon{
		font-size: 1.8em; 
	}
	
	#content_idpwfind p {
		font-size: 0.7em;
	}
	.fm_warn {
		font-size: 0.8em;
	}
	.fm_label {
		margin: 15px 0 8px 0 !important;
	}
	.confirmMsg1:not(.join-form), .confirmMsg2:not(.join-form) {
		font-size: 0.7em;
		padding-left: 5px;
	}

}