@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container {position: relative; width: 1200px; margin: 5px auto; font-family: 'Nanum Gothic', sans-serif; }

/* 제목 */
h3, h4 { margin: 5% 0 3% 0; font-family: 'Nanum Gothic', sans-serif; }

#content_sneakerList { font-family: 'Nanum Gothic', sans-serif; height: 1200px; }

.search-bar { text-align: center; }
#textSneaker, #textBrand { text-align: left; height: 35px; font-size: 15px; padding-left: 8px; width: 35%; }
.searched-form { display: inline-block; padding: 1.5%; width: 100%; background-color: white; float: left;  }
.searched-form div { padding: 1%; }
.search-bar { padding: 2% !important;}

.sneakerList-wrapper { width: 18%; margin: 1%; border-radius: 0.3rem; box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); border: 1px solid rgb(222 222 222); transition: all 0.3s; }
.sneakerList-wrapper, .brandList-wrapper { float: left; cursor: pointer; }
.sneakerList-wrapper img { width: 100%; transform: scale(1.0); transition: transform.5s; }
.sneakerList-wrapper:hover .sneaker_img_wrapper img{ transform:scale(1.1); transition: transform.5s; }

#sneakerList-name { margin-bottom: 7%; }
#sneakerList-name, #brandList-name { text-align: center; height: 30px; font-size: 0.8em; }
/* overflow: hidden; text-overflow: ellipsis; white-space: nowrap; */

/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.container { 
		width: 90%;
	}
	.sneakerList-wrapper {
		width: 23%;
	}
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	.container {
		width: 90%;
	}
	.sneakerList-wrapper {
		width: 31.3%;
	}
	#textSneaker, #textBrand {
		width: 50%;
	}
}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	.container {
		width: 90%;
	}
	.sneakerList-wrapper {
		width: 46%;
   		margin: 2% 2%;
	}
	#textSneaker, #textBrand {
		width: 80%;
	}
	.search-bar {
    	padding: 7% !important;
	}
	#sneakerList-name, #brandList-name { font-size: 0.7em; }
}
