@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body { line-weight:1.4;}
.container { position: relative; font-family:'Nanum Gothic', sans-serif; }

/*서브 타이틀*/
.sub-title { display: block; padding:0 0 15px 0; font-size:32px; font-family: 'Nanum Gothic', sans-serif; }
.sub-title h4 { display: inline-block; flex-direction: row; }
.sub-title h4 span { padding-right: 10px; }

/* 신발 상세정보 페이지  ------------------------------------------------------------------------------------------------------------ */
.shoeinfo-container { display:table; padding:30px 0; font-family:'Nanum Gothic', sans-serif !important; width:100%; } 

.shoeImg-container, .shoeDetailInfo-container { display:inline-block; vertical-align:top; position:relative; }
.shoeImg-container { width:49%; }
.shoeDetailInfo-container { width:45%; }

/* 이미지 파트 */
.shoeImg-container { text-align:center; }
.shoeImg-container img { background-color:#f3f3f3; padding:10% 0; width:90%; }

/* 신발 내용 파트 */
.shoeDetailInfo-container { margin:0 1.5% }
	/* 제품 모델명 */
	.shoeDetailInfo-name { padding-bottom:20px; border-bottom:1px solid #a5a5a5; }
	.shoeFullName_eng, .shoeFullName_kr { display:block; }
	.shoeFullName_eng { font-size:25px; margin:15px 0; font-weight:bold; }
	.shoeFullName_kr { font-size:17px; color:#777; }
	
	/* 제품 정보 */
	.shoeDetailInfo { margin:35px 0 10px 0; }
	.shoeDetailInfo-subtitle { margin-bottom:30px;}
	.shoeDetailInfo-subtitle p { font-size:18px; font-weight:bold; }
	.shoeDetailInfo-content { margin-bottom:15px; white-space:nowrap; }
	.shoeinfo-cate { display:inline-block; width:30%; color:#777777; } /* color:#999; */
	.shoeinfo-cateAns { display:inline-block; width:69%; text-align:right;}

/* 국가별 카테고리 파트 */
.countryCate-container { padding:35px 0; text-align:center; }
.countryCate-container div { display:inline; padding:8px 32px; cursor:pointer; color:#777777; font-size:16px; border:1px solid #e8e8e8; }

.phone-adminBtn { display:none; }

/* 지역별 발매처 리스트 */
.country-table table { width:100%; border-collapse:collapse; text-align:center; }
.releaseList-container { margin:0 0 300px 0; }
.releaseList-countryDiv {  width:100%; padding:40px 0 70px 0; float:left; }

.releaseCard { float:left; width:47%; margin:1.5% 3% 2% 0; box-shadow:0px 1px 7px #44444487; border-radius:8px; padding:1.2rem 1.5rem; position:relative; }

.CardContent1 { display:flex; align-items:center; }
.CardLogo { margin-right:1.4rem; 	}
.CardLogo, .CardContentList { display:inline-block; vertical-align:top; position:relative; }
.CardContentList-brandNameTxt span { width:320px; font-weight:bold; color:#121212; display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; overflow:hidden; -webkit-line-clamp:1; -webkit-box-orient:vertical; font-size:24px; margin-bottom:20px; white-space:nowrap; }
.CardContentList-drawMethod span { padding:.5em .65em; border-radius:.25rem; font-size:82%; background-color:#f6f6f6!important; font-weight:bold; }
.CardContentList-drawMethod span:not(:last-child) { margin-right:10px; }
.Card_brandImg { width:90px; height:90px; border:1px solid #c0c0c0; border-radius:50%; }
.countryflag { border:1px solid #d4d4d4; width:35px; height:22px; }


.CardContent2 { display:block; margin-top:10px; border-top:1px dotted #23272b38; padding-top:10px; } 
.Cate, .Content { display:inline-block; }
.Cate { margin-right:1.2rem; font-weight:bold; }
.Content { float:right; }
.CardContent2-status, .CardContent2-drawTime { display:block; margin-bottom:10px; }


.CardContent2-1 { display:block; padding:15px 0; text-align:center; }
.remain-time,.remain-time2 { font-weight:bold; font-family:'Quicksand', sans-serif; font-size:18px; }
.remain-time2:not(:last-child) { padding-right:3px; }
.remain-time2 { margin-left:-1.5px; }
.remainTimeBox { padding:0.2rem 1rem; border-radius:5px; background-color:white; display:block; margin:0 auto; white-space:nowrap; }
.material-icons { font-size:16px !important; color:white !important; }


.CardContent3 { display:block; }
.card_link { width:48%; margin-rigth:1%; transition:0.3s; }
.card_checkBox { width:48%; margin-left:1%; }
.card_link { border:1px solid #23272b; background-color:#23272b; color:white; }
.card_checkBox, .card_checkBox2 { border:1px solid #d0d0d0; background-color:white; }
.card_link, .card_checkBox { display:inline-block; border-radius:20px; vertical-align:middle; text-align:center; padding:0.5rem 1rem; cursor:pointer; }




/* 사용자 발매정보 추가하는 페이지 -------------------------------------------------------------------------------------------- */

	.add_wrapper { overflow:auto; width:100%; display: block; }

	/* 신발 이미지 */
	.sneaker_image_wrapper { text-align:center; border-bottom:1px dotted black; }

	/* 추가하는 form */
	#addOnlineForm, #updateOnlineForm { padding:3% 0; }
	#cate-Row { margin:0 0 40px 0; }
	.category, .addContent { display:inline-block; vertical-align:top; }
	.category { width:120px; color:#9a9a9a; }
	.addContent { width:820px; }
	
	.add_wrapper label { margin-right: 5%; }
	
	/* 관리자 권한 버튼들 */
	input[type=button] { border: 1px solid #c0c0c0; padding: 4px; margin: 0 7px; background-color: white; }
	input[type=text], input[type=button] { text-align:left; height:30px; font-size:15px; padding-left:8px; }
	input[name=online_link] { width:100%; }	
	input[name=online_writer] { width:70%; }
	
	input[type=date], input[type=time] { height:30px; font-size:15px; padding-left:1%; background-color: white; }
	
	input[type=radio] { margin: 0 0.5%; }
	#onlineM-radio-wrapper { display: inline;}
	#radio-wrapper { display:inline; }
	
	#del-radio-wrapper { padding:0% 0 4% 0; }
	
	#delivery_etc { width:200px; height:25px; }
	
	/* 브랜드 검색 영역 */
	.search-form { padding-bottom: 1% !important; }
	.searched-form { display:none; padding:1.5%; border: 1px solid #888888; width:70%; position: absolute; background-color: white; height:40%; overflow:scroll; }
	
	.brandList-wrapper { width:18%; float: left; cursor: pointer; }
	
	#exit-form { width: 100%; display: block; padding: 0 1% 1% 0; text-align: right; font-size: 1.5em;}
	#exit-form2 { width: 100%; display: block; padding: 0 1% 6% 0; text-align: right; font-size: 1.2em;}
	
	.searched-form img { width:100%; border:1px solid #dcdcdc; }
	.brandList-wrapper { margin:2% 1% !important; }
	.brandList-wrapper:hover { opacity: 0.3; }
	.searched-form div { padding: 1%; }
	#brandList-name { text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 0.8em; }

	.picked-form { display:none; padding:1%; width:15%; }
	.picked-form img { width: 100%; border: 1px solid #dcdcdc; box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); }
	.picked-form div { text-align: center; }
	.picked-form span { font-weight: bold; }
	
	#nothingSearched { display: none; width: 100%; text-align: center; padding: 5%; }
	#nothingSearched span { display: block; margin-top: 10%; }
	#nothingSearched div { border: 1px solid black; margin: 5% auto 10% auto; width: 40%; border-radius: 3px; transition: all 0.3s; font-weight: bold; font-size: 0.9em; cursor: pointer; }
	#nothingSearched div:hover { background-color: #232323; color: white; }
	
	#request-form { display:none; border: 1px solid #888888; border-radius: 2px; background-color: #fbfbfb; width: 90%; margin: 7% auto; }
	#request-form div { padding: 5% 5% 0 5%; text-align: center; }
	#request-form div:last-child { padding: 5%; }
	#request-form span { width: 90%; text-align: left; margin: 0 auto; }
	#request-form input { width: 90%; }
	#request-form button { border: 1px solid #232323; width: 25%; background-color: white; font-weight: bold; transition: all 0.3s; color: #232323; padding: 11px 15px 7px; font-family: 'Nanum Gothic', sans-serif; }
	#request-form button:hover { background-color: #232323; color: white; }

	/* 추가버튼 */
	.rel_Btn2 { border:1px solid #232323; width:30%; background-color:#232323; font-weight:bold; color:white; padding:10px 15px; font-family:'Nanum Gothic', sans-serif; }
	.rel_Btn2:hover { cursor: pointer; background-color: #232323; color: white; }
	#submitBtn-form { padding: 3% 0; }




/* 모바일 -------------------------------------------------------------- */
/*  ----------------------------------------------------------------- */

/* 0 ~ 1220px */
@media screen and (max-width: 1220px) {
	/* 신발 정보 part */
	.shoeImg-container { width:42%; }
	.shoeDetailInfo-container { width:54%; margin:0 1%; }
	.shoeDetailInfo-name { padding-bottom:15px; }
	.shoeFullName_eng { font-size:22px; margin:0 0 8px 0; }
	.shoeFullName_kr { font-size:15px; }
	.shoeDetailInfo { margin:15px 0 0 0; }
	.shoeDetailInfo-subtitle p { font-size:15px; }
	.shoeDetailInfo-subtitle { margin-bottom:20px; }
	.shoeDetailInfo-content { margin-bottom:10px; }
	.sub-title { font-size:26px; }
	/* 발매처 표 */
	.releaseCard { width:98%; margin:1.5% 1% 2% 1%; }
	.Cate, .Content, .sub-title h4 { white-space:nowrap; }
	
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	.sub-title { font-size:24px; }
	
	/* 신발 정보 디테일 */
	.brandlogo_img { width:60px; height:60px; }
	.shoeImg-container { width:40%; }
	.shoeImg-container img { padding:25% 0; }
	.shoeDetailInfo-container { width:57%; }
	.shoeFullName_eng { font-size:21px; }
	.countryCate-container { white-space:nowrap; overflow-x:auto; }
	.countryCate-container div { font-size:15px; padding:6px 26px; }
	
		
	/* 신발 추가하는 페이지 */
	.addContent { width:100%; }
	#cate-Row { margin:0 0 20px 0; }
	#addOnlineForm, #updateOnlineForm { font-size:13px; }
	
}

/* 0 ~ 480px */
@media screen and (max-width: 480px){
	
	.phone-adminBtn { display:block; }
	
	.shoeinfo-container { margin-top:0 !important; }
		
	/* 신발 정보 박스 */
	.shoeImg-container, .shoeDetailInfo-container { display:block; }
	.shoeImg-container { width:100%; }
	.shoeImg-container img { width:100%; padding:10% 5%; }
	.shoeDetailInfo-container { width:100%; padding:2% 4%; }
	.shoeFullName_eng { font-size:17px; }
	.shoeFullName_kr { font-size:14px; }
	.shoeDetailInfo-name { padding-bottom:20px; }
	.shoeDetailInfo-subtitle p { font-size:14px; }
	.shoeDetailInfo-content { font-size:13px; }
	
	.countryCate-container { padding:10px 4%; }
	.countryCate-container div { font-size:13px; padding:0; margin:1% 0; display:inline-block; }
	.countryCate-container div span { margin:8px 12px; display:block; }
	
	.sneakerDetail-brandNameTxt span { width:unset; }
	
	.shoeDetailInfo-container { margin:0; }
	
	.sub-title { font-size:24px; padding:0 4% 15px 4%; }
	.sub-title span { font-size:16px !important; }

	/* 발매처 카드 */
	.releaseCard { width:92%; margin:3% 4% 5%; padding:1rem; }
	
	.CardContent1 { display:table-caption; text-align:center; }
	.Card_brandImg { width:80px; height:80px; border-radius:10px; border:1px solid #dedede; }
	.countryflag { width:30px; height:18px; }
	.CardLogo { margin-right:1rem; }
	.CardContentList-brandNameTxt span { font-size:16px; margin:7px 0 15px 0; }
	.CardContentList-drawMethod span { font-size:13px; padding:.5em .6em; }
	
	.CardContent2 { font-size:13px; margin-top:15px; }
	.CardContent2-status, .CardContent2-drawTime { margin-bottom:8px; }
	.remain-time, .remain-time2 { font-size:15px; letter-spacing:-0.5px; }
	.remain-time2:not(:last-child) { padding-right:1px; }
	.remainTimeBox { padding:0; }
	
	.CardContent2-1 { padding:17px 0; }
	
	.CardContent3 { font-size:15px; }
	.card_link, .card_checkBox { padding:0.4rem 1rem; }
	
	.releasedDropDown, .releasedDropUp { border-bottom:0 !important; }

	/* 신발 추가하는 페이지 */
	#addOnlineForm, #updateOnlineForm { padding:4%; }
	.category { padding-bottom:10px; }
	#onlineM-radio-wrapper, #radio-wrapper { display:block; padding-bottom:10px; }
	
	
	
}


















	