@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container { position: relative; width: 1200px; margin: 5px auto; }

/* 신발 상세정보 페이지  ------------------------------------------------------------------------------------------------------------ */
#content_sneakerDetail{ margin-top: 20px; width: 100%; float: left; position: relative; z-index: 2; }
#content_sneakerDetail table { margin-bottom: 80px; }
#content_sneakerDetail table#sneaker_Detail{ width: 80%; margin: 20px auto; }
#content_sneakerDetail table#sneakerOnlineInfo_table{ width: 100%; }

	/* 신발 기본정보 */
	.sneaker_option_wrapper { font-family: 'Nanum Gothic', sans-serif; }
	
	.detail_table div.sneaker_name{ margin: 20px 20px 20px 50px;}
	.detail_table div.sneaker_option_info{margin-bottom: 15px; margin-left:50px;}
	.sneaker_image {text-align: center;}
	.sneaker_image>img, .sneaker_image_draw>img { width: 300px; height: 200px}
	
	.sneaker_name {font-style:oblique; text-transform: uppercase; font-size:35px; font-family: 'Anton', sans-serif;}
	
	/* 신발 온라인 정보 */
/* 	#content_sneakerInfo table{ width:928px; text-align:center;} */
/* 	#content_sneakerInfo table td { padding:10px 0; } */
	
/* 	/* 테이블 css */ */
/* 	#sneakerOnlineInfo_table tr.ta_release_info td{border-bottom: 1px solid #e0e0e0;} */
	
	.tooltip1 { position: relative; display: inline-block; border-bottom: 1px dotted black; }
/* 	.tooltip1 .tooltiptext1 { visibility: hidden; width: 300%; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; bottom: 150%; left: 20%; margin-left: -60px; opacity: 0; transition: opacity 0.3s; }  */
/* 	.tooltip1 .tooltiptext1::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; } */
/* 	.tooltip1:hover .tooltiptext1 { visibility: visible; opacity: 1;} */

/* 	table#sneakerOnlineInfo_table td:nth-child(3) { text-align: left; padding-left: 15px; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(5) { display: none; } */




/* 발매리스트 css -------------------------------------------------------------------------------------------------- */
#content_sneakerInfo {margin-top: 40px; width: 100%; float: left; position: relative; z-index: 2; font-family: 'Nanum Gothic', sans-serif; font-size:0.9em;}
#content_sneakerInfo h4, #content_userDrawInfo h4 { font-size: 1.5em; text-align: center; margin: 2%; }

#grid-list { width: 100%;  display: block; height: auto; overflow:auto; margin-bottom: 5%; }
#grid-wrapper { padding: 1%; width: 20%; float: left; display: block; }
.grid-item { position: relative; background: #ffffff; border: 0.3px solid #eaeaea; border-radius: 0.3rem; z-index: 3; box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1); }
.grid-logo img { width: 100%; height: 100%; }
.grid-content { padding: 5%; }
.grid-content div { margin-bottom: 8%; }

	/* 발매 정보가 없을경우 */
	#no-info-wrapper { width: 100%; text-align: center; padding: 3%; }
	#no-info-label { display: inline-block; padding: 1%; }

	/* 진행중 마크 */
	.grid-ing { position: absolute; top: 5px; left: 175px; }
	#draw_count_result_ing{background-color: #58af58; color: white; font-size: 0.5em; font-weight: bold; border: 1px solid #58af58; border-radius: 5px; padding: 1px 2px; }
	
	/* 작성자 마크 */
	.grid-info { position: absolute; top: 195px; left: 195px; }
	.grid-info span { color: #b3b3b37d; }
	
	/* 발매 내용 파트 */
	#brandlogo_img { vertical-align: middle; border-bottom: 1px solid #e2e2e2; border-radius: 0.3rem;}
	#country_flag_img {border: 0.5px solid #D9D9D9; vertical-align: middle;}
	
	#wrapper-name { margin-bottom: 4%; font-size: 1.3em; font-weight: bold; }
	#link-icon { font-size: 0.8em; }
	#span-flag, #wrapper-content { float: right; }
	#wrapper-period { margin-bottom: 15%; color: #dc5757; font-weight: bold; }
	
	/* 남은 시간 파트 */
	.grid-time { height:80px; display: block; }
	#remain-time { text-align: center; }
	.time-label-wrapper { display: block; font-size: 0.6em; }
	.draw_count_result_wrapper { display: block; }
	.draw_count_result { display: inline-block; font-size: 1.6em; font-weight: bold; }
	#draw_count_result_yet { font-size: 1em; font-weight: normal; padding-top: 5%;}
	#time-label{ display: block; font-size: 0.5em; font-weight: normal; padding-top: 15%; }
	#time-colon { font-size: 0.8em; padding: 0;}

	/* 관리자 버튼 */
	#wrapper-admin { text-align: center; padding-bottom: 10%; }
	

/* 사용자 응모 여부 페이지 -------------------------------------------------------------------------------------------------- */
#content_userDrawInfo { margin:10px auto; height:500px; width: 80%; position: relative; z-index: 2; font-family: 'Nanum Gothic', sans-serif;  font-size:0.9em; }

#drawInfoTable_kr, #drawInfoTable_etc { width: 40%; text-align: center; float: left; margin: 0 5%; }
#drawInfoTable_kr th, #drawInfoTable_etc th { padding: 15px 0; }
#drawInfoTable_kr td, #drawInfoTable_etc td { padding: 7px 0; }

#drawInfoTable_kr td:nth-child(1), #drawInfoTable_etc td:nth-child(1) { width: 30%; padding-left: 1%; }
#drawInfoTable_kr td:nth-child(2), #drawInfoTable_etc td:nth-child(2) { width: 45%; text-align: left; padding-left: 5%; }
#drawInfoTable_kr td:nth-child(3), #drawInfoTable_etc td:nth-child(3) { width: 25%;  }

/* 관리자 권한 버튼들 */
input[type=button] { border: 1px solid #c0c0c0; padding: 4px; margin: 0 7px; background-color: white; }

#no_info { height: 70px; }

/* media Query */
/* 0 ~ 1220px */
@media screen and (max-width: 1220px){
	.container {
		width: 90%;
	}
	.sneaker_image img, .sneaker_image_draw img{
		width: 100%;
		height: 100%;
	}
	.detail_table div span{
		font-size: 0.9em;
	}
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	#content_sneakerDetail, #content_userDrawInfo {
		width: 100%;
	}
	#content_userDrawInfo {
		margin-top: 8%;
	}
	#content_sneakerDetail table#sneaker_Detail{ 
		width: 90%; 
		margin: 10px auto; 
	}
	#content_sneakerDetail table { 
		margin-bottom: 50px; 
	}
	.sneaker_image_table, .detail_table {
		float: left;
		width: 100%;
	}
	.detail_table div.sneaker_name {
		margin: 20px auto;
		text-align: center;
		font-size: 2.5em;
	}
	.detail_table div span{
		font-size: 1.2em;
	}
	.detail_table div.sneaker_option_wrapper{
		margin: 0 0 0 30%;
	}
	.detail_table div.sneaker_option_info {
		margin-bottom: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	
	/* 발매처 table 수정하기 */
	#content_sneakerInfo table td { padding: 2%; }
	
	table#sneakerOnlineInfo_table { border-spacing: 0 20px; }
	
	table#sneakerOnlineInfo_table .ta_release_info { display: none; }
	table#sneakerOnlineInfo_table td { display: block; font-size: 1.2em; }
	
	table#sneakerOnlineInfo_table #no_info_tr { width: 100%; }
	table#sneakerOnlineInfo_table #no_info { display: contents; font-size: 1.2em; }
	
	/* 온라인 테이블 수정 ------------------------------------------------------------------------------------- */
/* 	table#sneakerOnlineInfo_table tr { width: 31.333%; float: left; background-color: #F2F2F2; padding: 4% 0; margin: 2% 1%; border-radius: 3%; } */
/* 	table#sneakerOnlineInfo_table tr.no_info_tr { width: 100%; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(1) img { width: 50%; height: 50%; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(2) { text-align: center; padding-left: 0; font-weight: bold;  margin: 0 auto; text-overflow: ellipsis; width: 90%; overflow: hidden; white-space: nowrap; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(3) { display: none; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(4) { margin: 5% auto; font-size: 1.2em; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(4) span.start_time { display: none; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(5) { font-size: 1.2em; font-weight: bold; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(5) .draw_count_result { display: block; padding: 7% 2% 0 2%; } */
/* 	span#draw_count_result_ing { font-size: 0.8em; position: absolute; transform: translateX(-60%); } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(6) { margin-top: 15%; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(6) .tooltip1 .tooltiptext1 { font-size: 0.8em; left:20%; } */
	
/* 	table#sneakerOnlineInfo_table td:last-child { margin: 0 auto; } */

	/* 사용자 응모 페이지 */
	#drawInfoTable_kr, #drawInfoTable_etc {
		width: 100%;
		margin: 0;
	}

}

/* 0 ~ 468px */
@media screen and (max-width: 468px){
	#content_sneakerDetail, #content_userDrawInfo {
		width: 100%;
	}
	#content_userDrawInfo {
		margin-top: 8%;
	}
	#content_sneakerDetail table#sneaker_Detail{ 
		width: 90%; 
		margin: 10px auto; 
	}
	#content_sneakerDetail table { 
		margin-bottom: 50px; 
	}
	.sneaker_image_table, .detail_table {
		float: left;
		width: 100%;
	}
	.detail_table div span{
		font-size: 1em;
	}
	.detail_table div.sneaker_option_wrapper{
		margin: 0 0 0 10%;
	}
	.detail_table div.sneaker_name {
		margin: 20px auto;
		text-align: center;
		font-size: 1.5em;
	}
	
	/* 발매처 table 수정하기 */
/* 	#content_sneakerInfo table td { padding: 2%; } */
	
	table#sneakerOnlineInfo_table { border-spacing: 0 20px; }
	
	table#sneakerOnlineInfo_table .ta_release_info { display: none; }
	table#sneakerOnlineInfo_table td { display: block; font-size: 1.2em; }
	
	table#sneakerOnlineInfo_table #no_info_tr { width: 100%; }
	table#sneakerOnlineInfo_table #no_info { display: inline-table; }

	/* 온라인 테이블 수정 ------------------------------------------------------------------------------------- */
	table#sneakerOnlineInfo_table tr { width: 100%; float: left; background-color: #F4F4F4; padding: 2% 4% 2% 4%; margin: 2% 1%; border-radius: 3%; }
	table#sneakerOnlineInfo_table tr.no_info_tr { width: 100%; }
	
	table#sneakerOnlineInfo_table td:nth-child(1) { display: none; }
	
/* 	table#sneakerOnlineInfo_table td:nth-child(1) { position:absolute; left: 83%; padding: 0; padding-top: 3%; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(1) span { font-size: 0.7em; } */
	
	table#sneakerOnlineInfo_table td:nth-child(2) { display: inline-block; text-align: left; width: 20%; }
	table#sneakerOnlineInfo_table td:nth-child(2) img { width: 50px; height: 50px; }
	
	table#sneakerOnlineInfo_table td:nth-child(3) { display: inline-block; text-align: left; width: 55%; font-weight: bold; }
	table#sneakerOnlineInfo_table td:nth-child(3) a { border-bottom: 1px dotted black; }
	
	table#sneakerOnlineInfo_table td:nth-child(4) { display: none; }
	
	table#sneakerOnlineInfo_table td:nth-child(5) { display: inline-block; width: 20%; }
	table#sneakerOnlineInfo_table td:nth-child(5) span { font-size: 0.7em; }
	
	table#sneakerOnlineInfo_table td:nth-child(6) { display: block; width: 30%; text-align: left; width: 100%; }
	table#sneakerOnlineInfo_table td:nth-child(6) span.start_time { display: none; }
	table#sneakerOnlineInfo_table td:nth-child(6):before { content: "응모기간"; padding-right: 7%; color: #737373; }
	table#sneakerOnlineInfo_table td:nth-child(6):after { content: "까지"; }
	
	table#sneakerOnlineInfo_table td:nth-child(7) { display: block; width: 100%; text-align: left; }
	table#sneakerOnlineInfo_table td:nth-child(7):before { content: "남은시간"; padding-right: 7%; color: #737373; }
	
	table#sneakerOnlineInfo_table td:nth-child(8) { display: inline-block; text-align: left; width: 100%; }
	table#sneakerOnlineInfo_table td:nth-child(8):before { content: "응모방식"; padding-right: 7%; color: #737373; }
	
	table#sneakerOnlineInfo_table td:nth-child(9) { display: inline-block; text-align: left; width: 100%; }
	table#sneakerOnlineInfo_table td:nth-child(9):before { content: "응모여부"; padding-right: 7%; color: #737373; }
	
/* 	table#sneakerOnlineInfo_table td:nth-child(1) img { width: 50%; height: 50%; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(2) { text-align: center; padding-left: 0; font-weight: bold; margin: 0 auto; text-overflow: ellipsis; width: 90%; overflow: hidden; white-space: nowrap; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(3) { display: none; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(4) { margin: 5% auto; font-size: 1.2em; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(4) span.start_time { display: none; } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(5) { font-size: 1em; font-weight: bold; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(5) .draw_count_result { display: block; padding: 7% 2% 0 2%; } */
/* 	span#draw_count_result_ing { font-size: 0.8em; position: absolute; transform: translateX(-60%); } */
	
/* 	table#sneakerOnlineInfo_table td:nth-child(6) { margin-top: 15%; } */
/* 	table#sneakerOnlineInfo_table td:nth-child(6) .tooltip1 .tooltiptext1 { font-size: 0.8em; left:20%; } */
	
/* 	table#sneakerOnlineInfo_table td:last-child { margin: 0 auto; } */

	/* 사용자 응모 페이지 */
	#drawInfoTable_kr, #drawInfoTable_etc {
		width: 100%;
		margin: 0;
	}
}
	