@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container {position: relative; } /* width: 80%; margin: 5px auto; */

/* 리스트 별 컨테이너 */
.todaysRelease-container { display: table; width: 100%; box-sizing: border-box; margin:100px 0; font-family: 'Nanum Gothic', sans-serif; }
.todays-table-container { width: 100%;}

/* 카테고리 박스 */
.Cate-container { padding:20px 0; display:block; text-align:center; font-family:'Nanum Gothic', sans-serif; }
.Cate-div { text-align:center; font-size:15px; display:inline-block; color:#777777; border:1px solid #e8e8e8; border-radius:20px; cursor:pointer; }
.Cate-div:not(:last-child) { margin-right:10px; }
.Cate-div span { margin:8px 20px; display:block; }

/*서브 타이틀*/
.sub-title { display: block; margin:0 0 15px 0; font-size:40px; font-family:'Nanum Gothic', sans-serif; text-align:center; }
.sub-title h4 { display: inline-block; flex-direction: row; }
.sub-title h4 span { padding-right: 10px; }

/* 오늘의 발매 리스트 */
.todaysRow { display:flex; width:100%; position:relative; padding:20px 15px; text-align:center; align-items:center; }
.todaysRow:not(:last-child) { border-bottom:1px solid #cccccc; }
.brandPart { display:flex; width:66.3%; align-items:center; }
.todaysBrandPart { display:inline-block; width:49%; }
.todaysBrandPart2 { display:inline-block; width:49%}
.todaysShoePart { display:inline-block; width:33.3%; }

.todaysBrandImg { display:-webkit-inline-box; position:relative; }
.brandImg { width:140px; height:140px; border:1px solid #b3b3b3; position:relative; border-radius:6px; }
.countryflag { border:1px solid #d4d4d4; width:42px; height:27px; }

.todaysBrandName { padding:10px 0; }
.todays-brandName { font-weight:bold; font-size:25px; color:#1f1f1f; }

.todaysInfo { margin-top:10px; }
.todaysInfo span { color:#949494; }

.todaysReleaseTime { margin-top:10px; }
.todaysReleaseTime span { color:#949494; }

.todaysStatus { margin-top:10px; }
.release-status { padding:3.5px 10px; color:white; font-weight:bold; border-radius:4px; }

/* 남은시간 */
.todaysRemainTime { margin-top:15px; }
.remainTime-container { font-size: 15px; }
.remain-time { font-size:20px; padding:0 0 0 4px; font-weight: bold; font-family: 'Kelly Slab', cursive; }
.remainWarning-container { display: block; position: relative; color: black !important; margin-top:5px; }
.remainWarning-container span { display:none; font-weight: bold; font-size: 12px; position: absolute; width:100%; }

.mob_count_label { display:none; }

.todayslinks { margin-top:15px; }
.card_link { width:38%; margin-rigth:1%; transition:0.3s; }
.card_checkBox { width:38%; margin-left:1%; }
.card_link { border:1px solid #23272b; background-color:#23272b; color:white; }
.card_checkBox { border:1px solid #d0d0d0; background-color:white; }
.card_link, .card_checkBox { display:inline-block; border-radius:20px; vertical-align:middle; text-align:center; padding:0.4rem 1rem; cursor:pointer; }

.releaseModel-image img { width:75%; background-color:#f3f3f3; padding:100px 10px 70px 10px; }


/* 스크롤바 style */
/* width */
::-webkit-scrollbar { width:10px; height:0; }
/* Track */
::-webkit-scrollbar-track { background: #d6d6d6; }
/* Handle */
::-webkit-scrollbar-thumb { background: #797979; }



/* 모바일 -------------------------------------------------------------- */
/*  ----------------------------------------------------------------- */

/* 0 ~ 1220px */
@media screen and (max-width: 1220px) {
	/* 제목 */
	.sub-title { font-size:32px; }
	
	/* 브랜드 이미지 */
	.brandImg { width:120px !important; height:120px !important; }
	
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	/* 제목 */
	.sub-title { margin:0 0 10px 0; }
	
	/* 오늘의 발매처 */
	.brandPart { display:inline-block; width:60%; }
	.todaysShoePart { width:40%; }
	.todaysBrandPart, .todaysBrandPart2 { display:block; width:90%; }
	.brandImg { width:80px !important; height:80px !important; }
	.todays-brandName { font-size:18px; }
	.countryflag { width:30px !important; height:19px !important; }
	.todaysStatus { margin-top:20px; }
	
	.releaseModel-image img { width:90%; }
}


/* 0 ~ 480px */
@media screen and (max-width: 480px){
	
	.todaysRelease-container { margin-top:20px !important; }

	/* 제목 */
	.sub-title { font-size:26px; padding:0 4% 0 4%; margin:0; }
	.desc-container { font-size:13px; padding:0 4% 18px 4%; }
	
	.Cate-div { font-size:14px; }
	.Cate-container { padding:30px 0 10px 0; }
	
	.todays-table-container { padding:0 5%; }
	.todaysRow { padding:12% 0; }
	
	.brandPart { width:70%; text-align:left; }
	.todaysShoePart { width:30%; }
	.todaysBrandPart, .todaysBrandPart2 { width:100%; }
	
	/* 정보 */
	.brandImg { width:60px !important; height:60px !important; }
	.countryflag { width:28px !important; height:18px !important; }
	.todaysBrandName { padding:3px 0 0 0; }
	.todaysInfo, .todaysReleaseTime { margin-top:7px; font-size:12px; }
	
	.todaysStatus { margin-top:15px; }
	.release-status { font-size:13px; padding:2px 6px; }
	.todaysRemainTime { margin-top:8px; }
	.remain-time { font-size:16px; padding:0 !important; }
	.count_label { display:none; }
	.mob_count_label { display:inline-block; font-size:16px; }
	.card_link, .card_checkBox { font-size:13px; padding:0.3rem 0.5rem; }
	
	/* 신발 이미지 */
	.releaseModel-image img { width:100%; padding:100px 5px 70px 5px; }
	

}















	

