@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container {position: relative; } /* width: 80%; margin: 5px auto; */

/* 리스트 별 컨테이너 */
.todaysRelease-container { display: table; width: 100%; box-sizing: border-box; margin:100px 0; font-family: 'Nanum Gothic', sans-serif; }
.todays-table-container { width: 100%;}

/*서브 타이틀*/
.sub-title { display: block; margin:0 0 15px 0; font-size:30px; font-family: 'Nanum Gothic', sans-serif; }
.sub-title h4 { display: inline-block; flex-direction: row; }
.sub-title h4 span { padding-right: 10px; }
/* .sub-title-wline h4:after { content: ""; flex: 1 1; border-bottom: 1.7px solid #000000; margin: auto; } */
.desc-container { display:block; padding:5px 0 40px 0; color:#666; }
.desc-container span { display:inline-block; position:relative; }


/* 오늘의 발매 리스트 */
#onlineList_todays_table { width: 100%; border-collapse: collapse; border-top:1.8px solid black; }
#onlineList_todays_table th { padding:20px 10px; background:#f9f9f9; border-top:1px solid #222; border-bottom:1px solid #c1c1c1; color:#222; font-size:15px; font-weight:normal; }
#onlineList_todays_table td { height: 100%; border-bottom:1px solid #c1c1c1; padding:35px 0; text-align: center; }

	/* 번호 & 상태 */
	.status-container div { display:block; font-size:17px;}

	/* 발매처정보 */
	.todaysRelease-content1 { display:inline-block; vertical-align: top; text-align: center; padding-left:40px; }
	.todaysRelease-content2 { display:inline-block; vertical-align: top; text-align: left; padding-left:20px; }

	.brandImg { width:130px; height:130px; border:1px solid #b3b3b3; position:relative; border-radius:6px; }
	.countryflag { border:1px solid #d4d4d4; width:30px; height:20px; }
	.brand-info-image-container { display:inline-block; position:relative; }
	
	.brand-info-container { vertical-align: top; margin-bottom:12px; }
	/* 모바일 버전 발매 신발 및 응모 체크 버튼 */
	.phone-brand-info-container { display:none; padding-left:10px; text-align:left !important; }
	.phone-brand-info-container-releaseStatus { display:none; }
	.phone-brand-info-container div { display:block; }
	.phone-brandName { margin-bottom:10px; }
	.mob-brand-info-container { display:none; }
	.phone-timeLabel { display:none; }
	
	.todays-brandName { font-weight:bold; font-size:23px; color:#1f1f1f; }
	.release-status { margin-left: 7px; padding:4px 6px; color: white; font-weight: bold; font-size:15px; border-radius:4px; }
	
	/* 발매처 정보 박스 */
	.release-info { text-align:left !important; padding-left:5px; }

	.brand-info-container { display:block; }
	.info-subTitle { display:inline-block; color:#1f1f1f; font-size:16px; width:80px; }
	.info-content { display:inline-block; color:#949494; font-size:16px; width:400px; }
	
	.mob-moreDetail { display:none; }
	
	/* 남은시간 */
	.remainTime-container { font-size: 15px; }
	.remain-time { font-size:20px; padding:0 0 0 4px; font-weight: bold; font-family: 'Kelly Slab', cursive; }
	.remainWarning-container { display: block; position: relative; color: black !important; margin-top:5px; }
	.remainWarning-container span { display:none; font-weight: bold; font-size: 12px; position: absolute; width:100%; }

	.mob_count_label { display:none; }

	/* 발매 제품  */
	.releaseModel-image img { width:90%; background-color:#f3f3f3; padding:80px 10px 20px 10px; }
	.releaseModel-name { margin-bottom: 10px; padding:0 5%; font-size:15px; }
	
	/* 체크박스 */
	.drawCheckBtn { display:block; margin-top:10px; }
	.draw_checkBox { border:1px solid #b3b3b3; padding:4px; width:50%; margin:0 auto; border-radius:5px; }
	.mob-drawCheckBtn { margin-top:10px; }
	.mob-draw_checkBox { border:1px solid #b3b3b3; padding:4px; width:30%; margin:0 auto; border-radius:5px; }

/* 스크롤바 style */
/* width */
::-webkit-scrollbar { width:10px; height:0; }
/* Track */
::-webkit-scrollbar-track { background: #d6d6d6; }
/* Handle */
::-webkit-scrollbar-thumb { background: #797979; }



/* 모바일 -------------------------------------------------------------- */
/*  ----------------------------------------------------------------- */

/* 0 ~ 1220px */
@media screen and (max-width: 1220px) {
	/* 제목 */
	.sub-title { font-size:22px; }
	
	/* td 발매처 정보 block */
	.todays-brandName { font-size:21px; }
	.release-status { font-size:14px; padding:3px 4px; }
	.release-info { padding-left:0 !important; }
	.brand-info-container { width:100%; }
	.info-subTitle, .info-content { font-size:15px; }
	.remain-time { font-size:18px; }
	.remainTime-container { font-size:14px; }
	
	.todaysRelease-content1 { padding-left:20px; }
	.todaysRelease-content2 { width:80%; } 
	
	/* 브랜드 이미지 */
	.brandImg { width:100px !important; height:100px !important; }
	
	/* 발매제품 이미지 */
	.releaseModel-image img { padding:60px 10px 20px 10px; }
	
}

/* 0 ~ 768px */
@media screen and (max-width: 768px){
	/* 제목 */
	.sub-title { margin:0 0 10px 0; }
	
	/* 오늘의 발매처 */
	#onlineList_todays_table td:last-child { padding-left:20px !important; padding-right:20px !important; }
	
	.brandImg { width:80px !important; height:80px !important; }
	.info-subTitle, .info-content { width:100%; display:block; }
	.todaysRelease-content1 { padding-left:0; }
	.todaysRelease-content2 { width:70%; }
	.todaysRelease-content2 div { margin-bottom:15px !important; }
	.info-subTitle { margin-bottom:5px; }
	.todays-brandName { font-size:18px; }
	.mob-release-status { padding:3px 5px; }
	.todaysRelease-content2 div { margin-bottom:9px; }
	.countryflag { width:25px !important; height:16px !important; }
}


/* 0 ~ 480px */
@media screen and (max-width: 480px){
	
	.todaysRelease-container { margin-top:20px !important; }

	/* 제목 */
	.sub-title { font-size:18px; padding:0 3% 5px 3%; margin:0 0 5px 0; }
	.desc-container { font-size:13px; padding:0 3% 18px 3%; }
	
	/* 부제목 + 체크버튼 */
	.desc-container span { display:block; padding-bottom:10px; }
	.desc-container span:first-child { float:unset !important; padding-bottom:20px; }
	
	/* 표 */
/* 	#onlineList_todays_table th:last-child, #onlineList_todays_table td:last-child:not(.todays_moretd) { display:none; } */
	#onlineList_todays_table th:first-child, #onlineList_todays_table td:first-child:not(.todays_moretd), #onlineList_todays_table th:last-child, #onlineList_todays_table td:last-child:not(.todays_moretd) { display:none; }
	.todaysRelease-content1, .todaysRelease-content2 { display:block !important; padding-left:0; text-align:left !important; }
	.todaysRelease-content1 { border-bottom:1px dotted #e6e6e6; padding-bottom:10px; }
	.todaysRelease-content2 { width:100%;}
	.brandImg { width:70px !important; height:70px !important; }
	#onlineList_todays_table th { padding:12px 0; font-size:14px; }
	#onlineList_todays_table td { padding:25px 6% !important; }
	.todays-brandName { font-size:16px; }
	.info-subTitle { display:none; }
	.info-subTitle, .info-content { font-size:13px; }
	.todaysRelease-content2 div { margin:8px auto 0 auto !important; }
	.brand-info-container:first-child { display:none; }
	.brand-info-container:nth-child(6) { padding:8px 0; } /* border-bottom:1px dotted #e6e6e6; */
	.mob-brand-info-container { display:block; }
	.mob-brand-info-container img { width:25%; }
	.pc_count_label { display:none; }
	.mob_count_label { display:inline-block; font-weight:bold; font-size:18px; }
	.remain-time { font-size:18px; padding:0 1px; }
	.mob-moreDetail { display:block; white-space:nowrap; margin-top:8px; }
	.brand-info-container:nth-child(5) { display:none; }
	
	.remainTime-container span:nth-child(5) { padding-left:0 !important; }
	.release-status { padding:0; font-size:13px; margin-left:0; font-weight:normal; border-radius:0;  }
	
		/* 모바일 버전  */
		.phone-brand-info-container { display:inline-block; width:75%; }
		.brand-info-image-container, .phone-brand-info-container { vertical-align:middle; }
		.phone-releaseMethod, .phone-payDel { font-size:13px; color:#949494; }
		.phone-payDel { margin-top:5px; }
		.brand-info-container:nth-child(2) { display:none; }
		.phone-brand-info-container-releaseStatus { display:block; }
		.phone-timeLabel { display:inline-block; }
		.brand-info-container:nth-child(7) { text-align:center; padding:0 0 5px 0; }
		.remainWarning-container span { position:inherit; }
}















	

