@CHARSET "UTF-8";

* {margin:0; padding:0; box-sizing: border-box;}
body {font-size:1em; line-weight:1.4}

/* 모든 페이지 공통 부분 */
.container {position: relative;  } /* width: 80%; margin: 5px auto; */

/* 리스트 별 컨테이너 */
.todaysDraw-container, .releasing-container, .release-container, .snkrsWeek-container, .released-container { display: table; width: 100%; box-sizing: border-box; margin: 35px 0 70px 0; font-family: 'Nanum Gothic', sans-serif; }
.todays-table-container, .releasing-table-container, .snkrsWeek-table-container { width: 100%;}

/*서브 타이틀*/
.sub-title { display: block; margin: 30px 0 20px 0; font-size: 24px; font-family: 'Nanum Gothic', sans-serif; }
.sub-title h4 { display: flex; flex-direction: row; }

/* 바로가기 버튼 */
.direct-link-text { padding-right: 3px; text-decoration: underline; }
.direct-link:hover { opacity: 0.5; }

/* 오늘의 응모 리스트 (메인페이지) */
#onlineList_todays_table { width: 100%; border-collapse: collapse; }
#onlineList_todays_table th { height: 50px; border-top: 1px solid black; border-bottom: 1px solid #dcdcdc; } 
#onlineList_todays_table td { height: 150px; border-bottom: 1px solid #dcdcdc;  }
#onlineList_todays_table td { text-align: left; }
.brandName-label {
	font-weight: bold;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    display: inline-block;
}